.u-section-1 {
    min-height: 890px;
  }
  
  .u-section-1 .u-group-1 {
    width: calc(((100% - 1140px) / 2) + 139px);
    min-height: 890px;
    height: auto;
    margin: 0 auto 0 0;
  }
  
  .u-section-1 .u-container-layout-1 {
    padding-top: 50px;
    padding-bottom: 0;
  }
  
  .u-section-1 .u-btn-1 {
    border-style: solid;
    font-weight: 700;
    line-height: 1;
    margin: 242px auto 0 14px;
    padding: 0;
  }
  
  .u-section-1 .u-btn-2 {
    font-size: 0.875rem;
    line-height: 1;
    font-weight: 400;
    margin: 16px auto 0 22px;
    padding: 0;
  }
  
  .u-section-1 .u-btn-3 {
    border-style: solid;
    line-height: 1;
    font-size: 0.875rem;
    margin: 10px auto 0 25px;
    padding: 0;
  }
  
  .u-section-1 .u-btn-4 {
    border-style: solid;
    line-height: 1;
    font-size: 0.875rem;
    margin: 10px auto 0 25px;
    padding: 0;
  }
  
  .u-section-1 .u-btn-5 {
    border-style: solid;
    line-height: 1;
    font-size: 0.875rem;
    margin: 10px auto 0 24px;
    padding: 0;
  }
  
  .u-section-1 .u-btn-6 {
    border-style: solid;
    line-height: 1;
    font-size: 0.875rem;
    margin: 10px auto 0 25px;
    padding: 0;
  }
  
  .u-section-1 .u-btn-7 {
    border-style: solid;
    line-height: 1;
    font-size: 0.875rem;
    margin: 10px auto 0 25px;
    padding: 0;
  }
  
  .u-section-1 .u-btn-8 {
    border-style: solid;
    line-height: 1;
    font-size: 0.875rem;
    margin: 10px auto 0 25px;
    padding: 0;
  }
  
  .u-section-1 .u-btn-9 {
    border-style: solid;
    line-height: 1;
    font-size: 0.875rem;
    margin: 10px auto 0 25px;
    padding: 0;
  }
  
  .u-section-1 .u-btn-10 {
    border-style: solid;
    line-height: 1;
    font-size: 0.875rem;
    margin: 10px auto 0 24px;
    padding: 0;
  }
  
  .u-section-1 .u-btn-11 {
    border-style: solid;
    line-height: 1;
    font-size: 0.875rem;
    margin: 10px auto 0 25px;
    padding: 0;
  }
  
  .u-section-1 .u-btn-12 {
    border-style: solid;
    line-height: 1;
    font-size: 0.875rem;
    margin: 10px auto 0 25px;
    padding: 0;
  }
  
  .u-section-1 .u-btn-13 {
    border-style: solid;
    text-transform: uppercase;
    font-size: 0.625rem;
    letter-spacing: 1px;
    font-weight: 700;
    background-image: none;
    line-height: 1;
    margin: 52px auto 0;
  }
  
  .u-section-1 .u-text-1 {
    font-weight: 700;
    font-size: 0.75rem;
    width: 110px;
    margin: 22px auto 0;
  }
  
  .u-section-1 .u-icon-1 {
    width: 64px;
    height: 64px;
    margin: -838px auto 0 calc(((100% - 1024px) / 2) + 60px);
    padding: 13px;
  }
  
  .u-section-1 .u-icon-2 {
    width: 56px;
    height: 56px;
    margin: -56px calc(((100% - 1024px) / 2) + 50px) 0 auto;
    padding: 0;
  }
  
  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    font-weight: 700;
    margin: -62px calc(((100% - 1140px) / 2) + 171px) 0 calc(((100% - 1024px) / 2) + 120px);
  }
  
  .u-section-1 .u-text-3 {
    font-size: 0.875rem;
    line-height: 1;
    margin: 8px 20px 0 calc(((100% - 1141px) / 2) + 979px);
  }
  
  .u-section-1 .u-line-1 {
    width: 611px;
    transform-origin: left center;
    margin: 8px calc(((100% - 1024px) / 2) + 201px) 0 auto;
  }
  
  .u-section-1 .u-text-4 {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1;
    margin: 5px 19px 0 calc(((100% - 1141px) / 2) + 984px);
  }
  
  .u-section-1 .u-text-5 {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1;
    margin: 0 20px 0 calc(((100% - 1141px) / 2) + 998px);
  }
  
  .u-section-1 .u-text-6 {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1;
    margin: 1px 20px 0 calc(((100% - 1141px) / 2) + 1015px);
  }
  
  .u-section-1 .u-text-7 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 26px 330px 0 calc(((100% - 1140px) / 2) + 681px);
  }
  
  .u-section-1 .u-icon-3 {
    width: 34px;
    height: 34px;
    margin: -38px calc(((100% - 1140px) / 2) + 214px) 0 calc(((100% - 1140px) / 2) + 790px);
    padding: 0;
  }
  
  .u-section-1 .u-btn-14 {
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1;
    background-image: none;
    margin: -32px calc(((100% - 1140px) / 2) + 42px) 0 calc(((100% - 1140px) / 2) + 850px);
    padding: 8px 9px 8px 8px;
  }
  
  .u-section-1 .u-text-8 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: -27px auto 0 calc(((100% - 1140px) / 2) + 150px);
  }
  
  .u-section-1 .u-form-1 {
    width: 877px;
    margin-left: calc(((100% - 1140px) / 2) + 236px);
    height: 108px;
    margin-top: 5px;
    margin-bottom: 0;
  }
  
  .u-section-1 .u-form-group-1 {
    margin-left: 0;
  }
  
  .u-section-1 .u-form-group-2 {
    margin-left: 0;
  }
  
  .u-section-1 .u-btn-15 {
    background-image: none;
  }
  
  .u-section-1 .u-text-9 {
    font-weight: 700;
    font-size: 1.5rem;
    margin: 4px calc(((100% - 1140px) / 2) + 156px) 0 calc(((100% - 1140px) / 2) + 150px);
  }
  
  .u-section-1 .u-icon-4 {
    width: 106px;
    height: 106px;
    margin: -34px calc(((100% - 1140px) / 2) + 42px) 0 calc(((100% - 1140px) / 2) + 920px);
    padding: 0;
  }
  
  .u-section-1 .u-table-1 {
    width: 884px;
    margin: -10px calc(((100% - 1140px) / 2) + 27px) 0 calc(((100% - 1140px) / 2) + 150px)
  }
  
  .u-section-1 .u-table-header-1 {
    font-weight: 700;
  }
  
  .u-section-1 .u-icon-5 {
    width: 41px;
    height: 41px;
    margin: -201px auto 0 calc(((100% - 1140px) / 2) + 180px);
  }
  
  .u-section-1 .u-btn-16 {
    --radius: 6px;
    font-weight: 700;
    font-size: 0.9375rem;
    background-image: none;
    margin: -39px calc(((100% - 1140px) / 2) + 17px) 0 calc(((100% - 1140px) / 2) + 900px);
    padding: 8px 33px;
  }
  
  .u-section-1 .u-icon-6 {
    width: 41px;
    height: 41px;
    margin: 30px auto 0 calc(((100% - 1140px) / 2) + 180px);
  }
  
  .u-section-1 .u-btn-17 {
    --radius: 6px;
    font-weight: 700;
    font-size: 0.9375rem;
    background-image: none;
    margin: -39px calc(((100% - 1140px) / 2) + 17px) 0 calc(((100% - 1140px) / 2) + 900px);
    padding: 8px 33px;
  }
  
  .u-section-1 .u-icon-7 {
    width: 41px;
    height: 41px;
    margin: 33px auto 0 calc(((100% - 1140px) / 2) + 180px);
  }
  
  .u-section-1 .u-btn-18 {
    --radius: 6px;
    font-weight: 700;
    font-size: 0.9375rem;
    background-image: none;
    margin: -40px calc(((100% - 1140px) / 2) + 17px) 13px calc(((100% - 1140px) / 2) + 900px);
    padding: 8px 33px;
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-group-1 {
      width: calc(((100% - 940px) / 2) + 139px);
      height: auto;
    }
  
    .u-section-1 .u-container-layout-1 {
      padding-left: 9px;
      padding-right: 9px;
    }
  
    .u-section-1 .u-btn-2 {
      border-style: solid;
    }
  
    .u-section-1 .u-btn-3 {
      margin-left: 22px;
    }
  
    .u-section-1 .u-btn-4 {
      margin-left: 22px;
    }
  
    .u-section-1 .u-btn-6 {
      margin-left: 22px;
    }
  
    .u-section-1 .u-btn-7 {
      margin-left: 22px;
    }
  
    .u-section-1 .u-btn-8 {
      margin-left: 22px;
    }
  
    .u-section-1 .u-btn-9 {
      margin-left: 20px;
    }
  
    .u-section-1 .u-btn-10 {
      margin-top: 25px;
    }
  
    .u-section-1 .u-btn-13 {
      margin-left: -15px;
      margin-right: -15px;
    }
  
    .u-section-1 .u-text-1 {
      margin-right: 25px;
      margin-left: -4px;
    }
  
    .u-section-1 .u-icon-1 {
      margin-left: 187px;
    }
  
    .u-section-1 .u-icon-2 {
      margin-right: calc(((100% - 940px) / 2));
    }
  
    .u-section-1 .u-text-2 {
      margin-top: -46px;
      margin-right: 187px;
      margin-left: 242px;
    }
  
    .u-section-1 .u-line-1 {
      margin-right: calc(((100% - 940px) / 2) + 202px);
    }
  
    .u-section-1 .u-text-3 {
      margin-left: calc(((100% - 940px) / 2) + 900px);
    }
  
    .u-section-1 .u-text-4 {
      margin-left: calc(((100% - 940px) / 2) + 869px);
    }
  
    .u-section-1 .u-text-5 {
      margin-left: calc(((100% - 940px) / 2) + 915px);
    }
  
    .u-section-1 .u-text-6 {
      margin-left: calc(((100% - 940px) / 2) + 929px);
    }
  
    .u-section-1 .u-text-7 {
      margin-right: 272px;
      margin-left: calc(((100% - 940px) / 2) + 640px);
    }
  
    .u-section-1 .u-icon-3 {
      margin-right: calc(((100% - 940px) / 2) + 214px);
    }
  
    .u-section-1 .u-btn-14 {
      margin-right: calc(((100% - 940px) / 2));
    }
  
    .u-section-1 .u-text-8 {
      margin-top: -28px;
      margin-left: calc(((100% - 940px) / 2) + 91px);
    }
  
    .u-section-1 .u-form-1 {
      margin-left: calc(((100% - 940px) / 2) + 63px);
      margin-top: 6px;
    }
  
    .u-section-1 .u-text-9 {
      margin-right: calc(((100% - 940px) / 2) + 129px);
      margin-left: calc(((100% - 940px) / 2) + 63px);
    }
  
    .u-section-1 .u-icon-4 {
      margin-right: calc(((100% - 940px) / 2) + 42px);
    }
  
    .u-section-1 .u-table-1 {
      height: 268px;
      margin-right: calc(((100% - 940px) / 2) + 27px);
    }
  
    .u-section-1 .u-icon-5 {
      margin-left: calc(((100% - 940px) / 2) + 270px);
    }
  
    .u-section-1 .u-btn-16 {
      margin-right: calc(((100% - 940px) / 2));
    }
  
    .u-section-1 .u-icon-6 {
      margin-left: calc(((100% - 940px) / 2) + 257px);
    }
  
    .u-section-1 .u-btn-17 {
      margin-right: calc(((100% - 940px) / 2));
    }
  
    .u-section-1 .u-icon-7 {
      margin-left: calc(((100% - 940px) / 2) + 257px);
    }
  
    .u-section-1 .u-btn-18 {
      margin-right: calc(((100% - 940px) / 2));
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-group-1 {
      width: calc(((100% - 720px) / 2) + 139px);
    }
  
    .u-section-1 .u-container-layout-1 {
      padding-top: 30px;
    }
  
    .u-section-1 .u-icon-1 {
      margin-left: 159px;
    }
  
    .u-section-1 .u-icon-2 {
      margin-right: calc(((100% - 720px) / 2));
    }
  
    .u-section-1 .u-text-2 {
      width: 611px;
      margin-left: auto;
      margin-right: auto;
    }
  
    .u-section-1 .u-line-1 {
      margin-right: calc(((100% - 720px) / 2) + 109px);
    }
  
    .u-section-1 .u-text-3 {
      margin-left: calc(((100% - 720px) / 2) + 689px);
    }
  
    .u-section-1 .u-text-4 {
      margin-left: calc(((100% - 720px) / 2) + 649px);
    }
  
    .u-section-1 .u-text-5 {
      margin-left: calc(((100% - 720px) / 2) + 695px);
    }
  
    .u-section-1 .u-text-6 {
      margin-left: calc(((100% - 720px) / 2) + 712px);
    }
  
    .u-section-1 .u-text-7 {
      margin-right: 208px;
      margin-left: calc(((100% - 720px) / 2) + 490px);
    }
  
    .u-section-1 .u-icon-3 {
      margin-right: calc(((100% - 720px) / 2) + 214px);
    }
  
    .u-section-1 .u-btn-14 {
      margin-right: calc(((100% - 720px) / 2));
    }
  
    .u-section-1 .u-text-8 {
      margin-left: calc(((100% - 720px) / 2) + 91px);
    }
  
    .u-section-1 .u-form-1 {
      width: 720px;
      margin-left: calc(((100% - 720px) / 2));
    }
  
    .u-section-1 .u-text-9 {
      margin-left: calc(((100% - 720px) / 2));
      margin-right: calc(((100% - 720px) / 2));
    }
  
    .u-section-1 .u-icon-4 {
      margin-right: calc(((100% - 720px) / 2) + 42px);
    }
  
    .u-section-1 .u-table-1 {
      width: 720px;
      margin-right: calc(((100% - 720px) / 2));
    }
  
    .u-section-1 .u-icon-5 {
      margin-left: calc(((100% - 720px) / 2) + 207px);
    }
  
    .u-section-1 .u-btn-16 {
      margin-right: calc(((100% - 720px) / 2));
    }
  
    .u-section-1 .u-icon-6 {
      margin-left: calc(((100% - 720px) / 2) + 197px);
    }
  
    .u-section-1 .u-btn-17 {
      margin-right: calc(((100% - 720px) / 2));
    }
  
    .u-section-1 .u-icon-7 {
      margin-left: calc(((100% - 720px) / 2) + 197px);
    }
  
    .u-section-1 .u-btn-18 {
      margin-right: calc(((100% - 720px) / 2));
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-group-1 {
      width: calc(((100% - 540px) / 2) + 139px);
    }
  
    .u-section-1 .u-icon-1 {
      margin-left: 163px;
    }
  
    .u-section-1 .u-icon-2 {
      margin-top: -71px;
      margin-right: calc(((100% - 540px) / 2));
    }
  
    .u-section-1 .u-text-2 {
      font-size: 1.875rem;
      width: 540px;
      margin-top: -39px;
      margin-left: 14px;
      margin-right: 14px;
    }
  
    .u-section-1 .u-line-1 {
      width: 540px;
      margin-right: calc(((100% - 540px) / 2));
    }
  
    .u-section-1 .u-text-3 {
      margin-left: calc(((100% - 540px) / 2) + 517px);
    }
  
    .u-section-1 .u-text-4 {
      margin-left: calc(((100% - 540px) / 2) + 469px);
    }
  
    .u-section-1 .u-text-5 {
      margin-left: calc(((100% - 540px) / 2) + 515px);
    }
  
    .u-section-1 .u-text-6 {
      margin-left: calc(((100% - 540px) / 2) + 534px);
    }
  
    .u-section-1 .u-text-7 {
      font-size: 1rem;
      margin-top: 14px;
      margin-right: 156px;
      margin-left: calc(((100% - 540px) / 2) + 368px);
    }
  
    .u-section-1 .u-icon-3 {
      margin-right: calc(((100% - 540px) / 2) + 161px);
    }
  
    .u-section-1 .u-btn-14 {
      margin-right: calc(((100% - 540px) / 2));
    }
  
    .u-section-1 .u-text-8 {
      font-size: 1rem;
      margin-top: -2px;
      margin-left: calc(((100% - 540px) / 2) + 91px);
    }
  
    .u-section-1 .u-form-1 {
      width: 540px;
      margin-left: calc(((100% - 540px) / 2));
      margin-top: -29px;
    }
  
    .u-section-1 .u-text-9 {
      font-size: 1rem;
      margin-top: -8px;
      margin-left: calc(((100% - 540px) / 2));
      margin-right: calc(((100% - 540px) / 2));
    }
  
    .u-section-1 .u-icon-4 {
      margin-right: calc(((100% - 540px) / 2) + 42px);
    }
  
    .u-section-1 .u-table-1 {
      width: 540px;
      margin-right: calc(((100% - 540px) / 2));
    }
  
    .u-section-1 .u-icon-5 {
      margin-left: calc(((100% - 540px) / 2) + 155px);
    }
  
    .u-section-1 .u-btn-16 {
      margin-right: calc(((100% - 540px) / 2));
    }
  
    .u-section-1 .u-icon-6 {
      margin-left: calc(((100% - 540px) / 2) + 148px);
    }
  
    .u-section-1 .u-btn-17 {
      margin-right: calc(((100% - 540px) / 2));
    }
  
    .u-section-1 .u-icon-7 {
      margin-left: calc(((100% - 540px) / 2) + 148px);
    }
  
    .u-section-1 .u-btn-18 {
      margin-right: calc(((100% - 540px) / 2));
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-group-1 {
      width: calc(((100% - 340px) / 2) + 139px);
    }
  
    .u-section-1 .u-icon-1 {
      margin-left: calc(((100% - 340px) / 2) + 94px);
    }
  
    .u-section-1 .u-icon-2 {
      margin-top: -49px;
      margin-right: calc(((100% - 340px) / 2));
    }
  
    .u-section-1 .u-text-2 {
      font-size: 1.5rem;
      width: 340px;
      margin-top: -61px;
      margin-left: calc(((100% - 340px) / 2));
      margin-right: calc(((100% - 340px) / 2));
    }
  
    .u-section-1 .u-line-1 {
      width: 340px;
      margin-right: calc(((100% - 340px) / 2));
    }
  
    .u-section-1 .u-text-3 {
      margin-left: calc(((100% - 340px) / 2) + 313px);
    }
  
    .u-section-1 .u-text-4 {
      margin-left: calc(((100% - 340px) / 2) + 269px);
    }
  
    .u-section-1 .u-text-5 {
      margin-left: calc(((100% - 340px) / 2) + 281px);
    }
  
    .u-section-1 .u-text-6 {
      margin-left: calc(((100% - 340px) / 2) + 336px);
    }
  
    .u-section-1 .u-text-7 {
      margin-right: 98px;
      margin-left: calc(((100% - 340px) / 2) + 232px);
    }
  
    .u-section-1 .u-icon-3 {
      margin-right: calc(((100% - 340px) / 2) + 101px);
    }
  
    .u-section-1 .u-btn-14 {
      margin-right: calc(((100% - 340px) / 2));
    }
  
    .u-section-1 .u-text-8 {
      margin-left: calc(((100% - 340px) / 2) + 91px);
    }
  
    .u-section-1 .u-form-1 {
      width: 340px;
      margin-left: calc(((100% - 340px) / 2));
    }
  
    .u-section-1 .u-text-9 {
      margin-left: calc(((100% - 340px) / 2));
      margin-right: calc(((100% - 340px) / 2));
    }
  
    .u-section-1 .u-icon-4 {
      margin-right: calc(((100% - 340px) / 2) + 42px);
    }
  
    .u-section-1 .u-table-1 {
      width: 340px;
      margin-right: calc(((100% - 340px) / 2));
    }
  
    .u-section-1 .u-icon-5 {
      margin-left: calc(((100% - 340px) / 2) + 98px);
    }
  
    .u-section-1 .u-btn-16 {
      margin-right: calc(((100% - 340px) / 2));
    }
  
    .u-section-1 .u-icon-6 {
      margin-left: calc(((100% - 340px) / 2) + 93px);
    }
  
    .u-section-1 .u-btn-17 {
      margin-right: calc(((100% - 340px) / 2));
    }
  
    .u-section-1 .u-icon-7 {
      margin-left: calc(((100% - 340px) / 2) + 93px);
    }
  
    .u-section-1 .u-btn-18 {
      margin-right: calc(((100% - 340px) / 2));
    }
  }