
  <body data-path-to-root="./" data-include-products="false" class="u-body u-xl-mode" data-lang="es">
    <section class="u-clearfix u-section-1" id="sec-802d">
      <div class="u-clearfix u-sheet u-sheet-1"><span class="u-border-2 u-border-palette-1-base u-file-icon u-icon u-icon-circle u-text-palette-1-base u-icon-1" data-href="/login"><img src="../../assets/images/271220-7c290514.png" alt=""></span>
        <h3 class="u-text u-text-custom-color-8 u-text-default u-text-1">¡HOLA!</h3>
        <h3 class="u-text u-text-custom-color-8 u-text-default u-text-2">&nbsp;¡BIENVENIDO JOSÉ!&nbsp;</h3>
		<br><div style="text-align: center">
			<img src="../../assets/images/Perfil.png" width="250px">
		
      
      
      
     <table width= "100%" style= "text-align:center;">
             <tr>
                 <td width="33.3%" height="80px">
                     <div class="dropdown">
                     <a><button class="buttones u-border-none u-btn u-btn-round u-button-style u-custom-color-11 u-radius-50" >RECEPCIÓN</button></a>
                         <div class="dropdown-content">
                             <a href="/material-de-quirofano-recepcion">Material De Quirófano</a>
                             <a href="/otras-unidades-hospitalarias">Material De Otras Áreas Hospitalarias</a>
                             <a href="/provedor-externo">Material De Proveedor Externo</a>
                         </div>
                     </div>
                 </td>
 
                 <td width="33.3%" height="80px">
                     <div class="dropdown">
                     <a><button class="buttones u-border-none u-btn u-btn-round u-button-style u-custom-color-11 u-radius-50" style="font-size:20px;">LAVADO</button></a>
                         <div class="dropdown-content">
                             <a href="/lavado">Lavado</a>
                         </div>
                     </div>
                 </td>
 
                 <td width="33.3%" height="80px">
                     <div class="dropdown">
                     <a><button class="buttones u-border-none u-btn u-btn-round u-button-style u-custom-color-11 u-radius-50" style="font-size:20px;">EMPAQUE</button></a>
                         <div class="dropdown-content">
                             <a href="/material-de-quirofano-y-ceye">Material De Quirófano y CEYE</a>
                             <a href="/otras-areas-y-provedor-externo-empaque">Material Otras Áreas Hospitalarias y Proveedor Externo</a>
                         </div>
                     </div>
                 </td>
             </tr>
 
             <tr>
                 <td width="33.3%" height="80px">
                     <div class="dropdown">
                     <a><button class="buttones u-border-none u-btn u-btn-round u-button-style u-custom-color-11 u-radius-50" style="font-size:20px;"> ESTERILIZACIÓN</button></a>
                         <div class="dropdown-content">
                             <a href="/esterilizacion">Esterilización</a>
                         </div>
                     </div>
                 </td>
 
                 <td width="33.3%" height="80px">
                  <div class="dropdown">
                    <a><button class="buttones u-border-none u-btn u-btn-round u-button-style u-custom-color-11 u-radius-50" style="font-size:20px;">ALMACENAMIENTO</button></a>
                        <div class="dropdown-content">
                            <a href="/almacen-general">Almacén General</a>
                            <a href="/recepcion-almacen">Recepción</a>
                    </div>
                    </div>
                 </td>
                     
                    
 
                 <td width="33.3%" height="80px">
                     <div class="dropdown">
                     <a><button class="buttones u-border-none u-btn u-btn-round u-button-style u-custom-color-11 u-radius-50" style="font-size:20px;">DISTRIBUCIÓN</button></a>
                         <div class="dropdown-content">
                             <a href="/material-de-quirofano-distribucion">Material De Quirófano y CEYE</a>
                             <a href="/otras-areas-y-proveedor-externo-distribucion">Material Otras Áreas Hospitalarias y Proveedor Externo</a>
                             <a href="/prestamo-otras">Prestamo Otras</a>                         </div>
                     </div>
                 </td>
             </tr>
 
         </table>

         
        </div></div>
    </section>
    
    
    
    
    
    
    
    
    
  
</body>
