.u-section-1 .u-sheet-1 {
  min-height: 1827px;
}

.u-section-1 .u-group-1 {
  width: 198px;
  min-height: 1813px;
  height: auto;
  margin: 0 auto 0 -25px;
}

.u-section-1 .u-container-layout-1 {
    padding: 50px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  line-height: 1;
  margin: 242px auto 0 14px;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  font-size: 0.875rem;
  line-height: 1;
  font-weight: 400;
  margin: 16px auto 0 22px;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  line-height: 1;
  font-size: 0.875rem;
  margin: 10px auto 0 25px;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  line-height: 1;
  font-size: 0.875rem;
  margin: 10px auto 0 25px;
  padding: 0;
}

.u-section-1 .u-btn-5 {
  border-style: solid;
  line-height: 1;
  font-size: 0.875rem;
  margin: 10px auto 0 24px;
  padding: 0;
}

.u-section-1 .u-btn-6 {
  border-style: solid;
  line-height: 1;
  font-size: 0.875rem;
  margin: 10px auto 0 25px;
  padding: 0;
}

.u-section-1 .u-btn-7 {
  border-style: solid;
  line-height: 1;
  font-size: 0.875rem;
  margin: 10px auto 0 25px;
  padding: 0;
}

.u-section-1 .u-btn-8 {
  border-style: solid;
  line-height: 1;
  font-size: 0.875rem;
  margin: 10px auto 0 25px;
  padding: 0;
}

.u-section-1 .u-btn-9 {
  border-style: solid;
  line-height: 1;
  font-size: 0.875rem;
  margin: 10px auto 0 25px;
  padding: 0;
}

.u-section-1 .u-btn-10 {
  border-style: solid;
  line-height: 1;
  font-size: 0.875rem;
  margin: 10px auto 0 24px;
  padding: 0;
}

.u-section-1 .u-btn-11 {
  border-style: solid;
  line-height: 1;
  font-size: 0.875rem;
  margin: 10px auto 0 25px;
  padding: 0;
}

.u-section-1 .u-btn-12 {
  border-style: solid;
  line-height: 1;
  font-size: 0.875rem;
  margin: 10px auto 0 25px;
  padding: 0;
}

.u-section-1 .u-btn-13 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.625rem;
  letter-spacing: 1px;
  font-weight: 700;
  background-image: none;
  line-height: 1;
  margin: 52px auto 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 0.75rem;
  width: 110px;
  margin: 22px auto 0;
}

.u-section-1 .u-text-2 {
    font-size: 2.25rem;
    font-weight: 700;
    margin: -62px calc(((100% - 1140px) / 2) + 171px) 0 calc(((100% - 1024px) / 2) + 120px);
}

.u-section-1 .u-icon-1 {
    width: 64px;
    height: 64px;
    margin: -1772px auto 0 calc(((100% - 1024px) / 2) + 60px);
    padding: 13px;
}

.u-section-1 .u-icon-2 {
    width: 56px;
    height: 56px;
    margin: -56px calc(((100% - 1024px) / 2) + 50px) 0 auto;
    padding: 0;
}

.u-section-1 .u-line-1 {
    width: 720px;
    transform-origin: left center;
    margin: 8px calc(((100% - 1024px) / 2) + 150px) 0 auto;
}

.u-section-1 .u-text-3 {
    font-size: 0.875rem;
    line-height: 1;
    margin: 8px 20px 0 calc(((100% - 1141px) / 2) + 979px);
}

.u-section-1 .u-text-4 {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1;
    margin: 5px 19px 0 calc(((100% - 1141px) / 2) + 984px);
}

.u-section-1 .u-text-5 {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1;
    margin: 0 20px 0 calc(((100% - 1141px) / 2) + 998px);
}

.u-section-1 .u-text-6 {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1;
    margin: 1px 20px 0 calc(((100% - 1141px) / 2) + 1015px);
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: -1px 173px 0 150px;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 8px 34px 0 770px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 834px;
  margin: 8px auto 0 150px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 294px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-form-1 {
  height: 326px;
  margin-top: 17px;
  margin-bottom: 0;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-label-1 {
  width: 136px;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-label-2 {
  width: 136px;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-label-3 {
  width: 136px;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-label-4 {
  width: 136px;
}

.u-section-1 .u-label-5 {
  width: 136px;
}

.u-section-1 .u-label-6 {
  width: 136px;
}

.u-section-1 .u-btn-14 {
  border-style: solid;
  padding: 0;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  margin: -322px -52px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 294px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-form-2 {
  height: 277px;
  --thumb-color: #478ac9;
  --thumb-hover-color: #77aad9;
  --track-color: #c0c0c0;
  --track-active-color: #478ac9;
  margin-top: 17px;
  margin-bottom: 0;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1 .u-label-7 {
  width: 136px;
}

.u-section-1 .u-label-8 {
  width: 136px;
}

.u-section-1 .u-form-group-9 {
  margin-left: 0;
}

.u-section-1 .u-label-9 {
  width: 136px;
}

.u-section-1 .u-form-group-10 {
  margin-left: 0;
}

.u-section-1 .u-label-10 {
  width: 136px;
}

.u-section-1 .u-form-group-11 {
  margin-left: 0;
}

.u-section-1 .u-label-11 {
  width: 136px;
}

.u-section-1 .u-label-12 {
  width: 136px;
}

.u-section-1 .u-btn-15 {
  border-style: solid;
  padding: 0;
}

.u-section-1 .u-btn-16 {
  --radius: 50px;
  font-size: 1.25rem;
  font-weight: 700;
  align-self: center;
  margin: 15px auto 0 150px;
  padding: 8px 206px 9px;
}

.u-section-1 .u-text-10 {
  margin: 58px 9px 0 480px;
}

.u-section-1 .u-table-1 {
  width: 912px;
  margin: 17px -25px 0 auto;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-1 .u-table-header-1 {
  background-image: none;
  font-weight: 400;
}

.u-section-1 .u-table-cell-1 {
  border-style: solid;
}

.u-section-1 .u-table-cell-2 {
  border-style: solid;
}

.u-section-1 .u-table-cell-3 {
  border-style: solid;
}

.u-section-1 .u-table-cell-4 {
  border-style: solid;
}

.u-section-1 .u-table-cell-5 {
  border-style: solid;
}

.u-section-1 .u-table-cell-6 {
  border-style: solid;
}

.u-section-1 .u-table-cell-7 {
  border-style: solid;
}

.u-section-1 .u-table-cell-8 {
  border-style: solid;
}

.u-section-1 .u-icon-3 {
  width: 36px;
  height: 36px;
  margin: -106px auto 0 624px;
  padding: 0;
}

.u-section-1 .u-icon-4 {
  width: 36px;
  height: 36px;
  margin: -35px auto 0 708px;
  padding: 0;
}

.u-section-1 .u-icon-5 {
  width: 36px;
  height: 36px;
  margin: 18px 396px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-6 {
  width: 36px;
  height: 36px;
  margin: -149px auto 0 623px;
  padding: 0;
}

.u-section-1 .u-icon-7 {
  width: 36px;
  height: 36px;
  margin: 77px 480px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-8 {
  width: 36px;
  height: 36px;
  margin: -149px auto 0 708px;
  padding: 0;
}

.u-section-1 .u-icon-9 {
  width: 36px;
  height: 36px;
  margin: -36px auto 0 799px;
  padding: 0;
}

.u-section-1 .u-icon-10 {
  width: 36px;
  height: 36px;
  margin: 22px auto 0 799px;
  padding: 0;
}

.u-section-1 .u-icon-11 {
  width: 36px;
  height: 36px;
  margin: 17px auto 0 799px;
  padding: 0;
}

.u-section-1 .u-shape-1 {
  width: 90px;
  height: 36px;
  background-image: none;
  margin: -35px 189px 0 auto;
}

.u-section-1 .u-text-11 {
  margin: -292px auto 0 150px;
}

.u-section-1 .u-form-3 {
  height: 68px;
  --thumb-color: #478ac9;
  --thumb-hover-color: #77aad9;
  --track-color: #c0c0c0;
  --track-active-color: #478ac9;
  margin: 165px 125px 0 849px;
}

.u-section-1 .u-form-group-13 {
  --progress: 0%;
}

.u-section-1 .u-btn-17 {
  padding: 0;
}

.u-section-1 .u-form-4 {
  height: 68px;
  --thumb-color: #478ac9;
  --thumb-hover-color: #77aad9;
  --track-color: #c0c0c0;
  --track-active-color: #478ac9;
  margin: -127px 125px 0 849px;
}

.u-section-1 .u-form-group-15 {
  --progress: 0%;
}

.u-section-1 .u-btn-18 {
  padding: 0;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  margin: 154px 110px 0 150px;
}

.u-section-1 .u-accordion-1 {
  width: 883px;
  margin: 26px auto 0 150px;
}

.u-section-1 .u-accordion-link-1 {
  background-image: none;
  font-size: 1.125rem;
  text-transform: none;
  font-weight: 400;
  padding: 20px;
}

.u-section-1 .u-icon-12 {
  height: 20px;
  width: 20px;
}

.u-section-1 .u-accordion-pane-1 {
  min-height: 467px;
  height: auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-table-2 {
  width: 923px;
  height: 376px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-table-header-2 {
  background-image: none;
  font-weight: 400;
}

.u-section-1 .u-table-cell-59 {
  margin-top: -76px;
  margin-bottom: 0;
}

.u-section-1 .u-table-cell-60 {
  margin-top: -76px;
  margin-bottom: 0;
}

.u-section-1 .u-table-cell-61 {
  margin-top: -76px;
}

.u-section-1 .u-table-cell-62 {
  margin-top: -76px;
}

.u-section-1 .u-table-cell-63 {
  margin-top: -76px;
}

.u-section-1 .u-table-cell-64 {
  margin-top: -76px;
}

.u-section-1 .u-icon-13 {
  width: 36px;
  height: 36px;
  margin: -279px auto 0 476px;
  padding: 0;
}

.u-section-1 .u-icon-14 {
  width: 36px;
  height: 36px;
  margin: -36px 271px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-15 {
  width: 36px;
  height: 36px;
  margin: 199px 179px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-16 {
  width: 36px;
  height: 36px;
  margin: -193px 179px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-17 {
  width: 36px;
  height: 36px;
  margin: 42px 271px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-18 {
  width: 36px;
  height: 36px;
  margin: 43px 371px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-19 {
  width: 36px;
  height: 36px;
  margin: -36px auto 0 576px;
  padding: 0;
}

.u-section-1 .u-icon-20 {
  width: 36px;
  height: 36px;
  margin: -194px 271px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-21 {
  width: 36px;
  height: 36px;
  margin: -35px auto 0 476px;
  padding: 0;
}

.u-section-1 .u-icon-22 {
  width: 36px;
  height: 36px;
  margin: 42px 179px 0 auto;
  padding: 0;
}

.u-section-1 .u-shape-2 {
  width: 90px;
  height: 36px;
  background-image: none;
  margin: -36px 41px 0 auto;
}

.u-section-1 .u-shape-3 {
  width: 90px;
  height: 36px;
  background-image: none;
  margin: -192px 41px 0 auto;
}

.u-section-1 .u-icon-23 {
  width: 36px;
  height: 36px;
  margin: 120px 371px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-24 {
  width: 36px;
  height: 36px;
  margin: -192px 179px 0 auto;
  padding: 0;
}

.u-section-1 .u-form-5 {
  height: 68px;
  --thumb-color: #478ac9;
  --thumb-hover-color: #77aad9;
  --track-color: #c0c0c0;
  --track-active-color: #478ac9;
  margin: 16px -27px 0 744px;
}

.u-section-1 .u-form-group-17 {
  --progress: 0%;
}

.u-section-1 .u-btn-19 {
  padding: 0;
}

.u-section-1 .u-form-6 {
  height: 68px;
  --thumb-color: #478ac9;
  --thumb-hover-color: #77aad9;
  --track-color: #c0c0c0;
  --track-active-color: #478ac9;
  margin: 88px -30px 0 747px;
}

.u-section-1 .u-form-group-19 {
  --progress: 0%;
}

.u-section-1 .u-btn-20 {
  padding: 0;
}

.u-section-1 .u-accordion-2 {
  width: 883px;
  margin: 0 auto 0 150px;
}

.u-section-1 .u-accordion-link-2 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
  text-transform: none;
  border-bottom-style: double;
  padding: 20px;
}

.u-section-1 .u-icon-25 {
  height: 20px;
  width: 20px;
}

.u-section-1 .u-accordion-pane-2 {
  min-height: 467px;
  height: auto;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-table-3 {
  width: 923px;
  height: 376px;
  margin: 8px auto 0;
}

.u-section-1 .u-table-header-3 {
  background-image: none;
  font-weight: 400;
}

.u-section-1 .u-table-cell-99 {
  margin-top: -76px;
  margin-bottom: 0;
}

.u-section-1 .u-table-cell-100 {
  margin-top: -76px;
  margin-bottom: 0;
}

.u-section-1 .u-table-cell-101 {
  margin-top: -76px;
}

.u-section-1 .u-table-cell-102 {
  margin-top: -76px;
}

.u-section-1 .u-table-cell-103 {
  margin-top: -76px;
}

.u-section-1 .u-table-cell-104 {
  margin-top: -76px;
}

.u-section-1 .u-icon-26 {
  width: 36px;
  height: 36px;
  margin: -287px auto 0 476px;
  padding: 0;
}

.u-section-1 .u-icon-27 {
  width: 36px;
  height: 36px;
  margin: -36px 271px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-28 {
  width: 36px;
  height: 36px;
  margin: 199px 179px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-29 {
  width: 36px;
  height: 36px;
  margin: -193px 179px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-30 {
  width: 36px;
  height: 36px;
  margin: 42px 271px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-31 {
  width: 36px;
  height: 36px;
  margin: 43px auto 0 576px;
  padding: 0;
}

.u-section-1 .u-icon-32 {
  width: 36px;
  height: 36px;
  margin: -194px 271px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-33 {
  width: 36px;
  height: 36px;
  margin: -35px auto 0 476px;
  padding: 0;
}

.u-section-1 .u-icon-34 {
  width: 36px;
  height: 36px;
  margin: 42px 371px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-35 {
  width: 36px;
  height: 36px;
  margin: -192px auto 0 668px;
  padding: 0;
}

.u-section-1 .u-shape-4 {
  width: 90px;
  height: 36px;
  background-image: none;
  margin: 120px 41px 0 auto;
}

.u-section-1 .u-shape-5 {
  width: 90px;
  height: 36px;
  background-image: none;
  margin: -192px 41px 0 auto;
}

.u-section-1 .u-icon-36 {
  width: 36px;
  height: 36px;
  margin: 197px 371px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-37 {
  width: 36px;
  height: 36px;
  margin: -113px 179px 0 auto;
  padding: 0;
}

.u-section-1 .u-form-7 {
  height: 68px;
  --thumb-color: #478ac9;
  --thumb-hover-color: #77aad9;
  --track-color: #c0c0c0;
  --track-active-color: #478ac9;
  margin: -123px -23px 0 748px;
}

.u-section-1 .u-form-group-21 {
  --progress: 0%;
}

.u-section-1 .u-btn-21 {
  padding: 0;
}

.u-section-1 .u-form-8 {
  height: 68px;
  --thumb-color: #478ac9;
  --thumb-hover-color: #77aad9;
  --track-color: #c0c0c0;
  --track-active-color: #478ac9;
  margin: 82px -23px 0 748px;
}

.u-section-1 .u-form-group-23 {
  --progress: 0%;
}

.u-section-1 .u-btn-22 {
  padding: 0;
}

.u-section-1 .u-btn-23 {
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  align-self: center;
  margin: 22px auto 0 700px;
  padding: 8px 33px;
}

.u-section-1 .u-btn-24 {
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -40px auto 60px 900px;
  padding: 8px 33px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-1 .u-btn-2 {
    border-style: solid;
  }

  .u-section-1 .u-text-2 {
    margin-right: 46px;
    margin-left: 283px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 880px;
  }

  .u-section-1 .u-line-1 {
    margin-left: 329px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 885px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 889px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 900px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 915px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 73px;
    margin-left: 153px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
    margin-left: 823px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-left: 106px;
  }

  .u-section-1 .u-btn-16 {
    margin-left: 106px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
    margin-left: 455px;
  }

  .u-section-1 .u-table-1 {
    height: 312px;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 515px;
  }

  .u-section-1 .u-icon-4 {
    margin-left: 584px;
  }

  .u-section-1 .u-icon-5 {
    margin-right: 327px;
  }

  .u-section-1 .u-icon-6 {
    margin-left: 514px;
  }

  .u-section-1 .u-icon-7 {
    margin-right: 396px;
  }

  .u-section-1 .u-icon-8 {
    margin-left: 584px;
  }

  .u-section-1 .u-icon-9 {
    margin-left: 659px;
  }

  .u-section-1 .u-icon-10 {
    margin-left: 659px;
  }

  .u-section-1 .u-icon-11 {
    margin-left: 659px;
  }

  .u-section-1 .u-form-3 {
    margin-right: 25px;
    margin-left: 749px;
  }

  .u-section-1 .u-form-4 {
    margin-right: 24px;
    margin-left: 749px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 10px;
    margin-left: 154px;
  }

  .u-section-1 .u-accordion-1 {
    margin-left: 57px;
  }

  .u-section-1 .u-table-2 {
    width: 883px;
  }

  .u-section-1 .u-accordion-2 {
    margin-left: 57px;
  }

  .u-section-1 .u-table-3 {
    width: 883px;
  }

  .u-section-1 .u-btn-23 {
    margin-left: 583px;
  }

  .u-section-1 .u-btn-24 {
    margin-left: 766px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1633px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 109px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 674px;
  }

  .u-section-1 .u-line-1 {
    margin-left: 109px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 678px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 681px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 689px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 701px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 6px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 603px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-btn-16 {
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-left: 235px;
  }

  .u-section-1 .u-table-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 394px;
  }

  .u-section-1 .u-icon-4 {
    margin-left: 447px;
  }

  .u-section-1 .u-icon-5 {
    margin-right: 250px;
  }

  .u-section-1 .u-icon-6 {
    margin-left: 394px;
  }

  .u-section-1 .u-icon-7 {
    margin-right: 303px;
  }

  .u-section-1 .u-icon-8 {
    margin-left: 447px;
  }

  .u-section-1 .u-icon-9 {
    margin-left: 505px;
  }

  .u-section-1 .u-icon-10 {
    margin-left: 505px;
  }

  .u-section-1 .u-icon-11 {
    margin-left: 505px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 198px;
  }

  .u-section-1 .u-form-3 {
    margin-right: 0;
    margin-left: 554px;
  }

  .u-section-1 .u-form-4 {
    margin-right: 0;
    margin-left: 554px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-accordion-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-1 .u-table-2 {
    width: 720px;
  }

  .u-section-1 .u-icon-13 {
    margin-left: 388px;
  }

  .u-section-1 .u-icon-14 {
    margin-right: 221px;
  }

  .u-section-1 .u-icon-17 {
    margin-right: 221px;
  }

  .u-section-1 .u-icon-18 {
    margin-right: 303px;
  }

  .u-section-1 .u-icon-19 {
    margin-left: 470px;
  }

  .u-section-1 .u-icon-20 {
    margin-right: 221px;
  }

  .u-section-1 .u-icon-21 {
    margin-left: 388px;
  }

  .u-section-1 .u-icon-23 {
    margin-right: 303px;
  }

  .u-section-1 .u-form-5 {
    margin-left: 663px;
  }

  .u-section-1 .u-form-6 {
    margin-left: 666px;
  }

  .u-section-1 .u-accordion-2 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-1 .u-table-3 {
    width: 720px;
  }

  .u-section-1 .u-icon-26 {
    margin-left: 388px;
  }

  .u-section-1 .u-icon-27 {
    margin-right: 221px;
  }

  .u-section-1 .u-icon-30 {
    margin-right: 221px;
  }

  .u-section-1 .u-icon-31 {
    margin-left: 470px;
  }

  .u-section-1 .u-icon-32 {
    margin-right: 221px;
  }

  .u-section-1 .u-icon-33 {
    margin-left: 388px;
  }

  .u-section-1 .u-icon-34 {
    margin-right: 303px;
  }

  .u-section-1 .u-icon-35 {
    margin-left: 545px;
  }

  .u-section-1 .u-icon-36 {
    margin-right: 303px;
  }

  .u-section-1 .u-form-7 {
    margin-left: 667px;
  }

  .u-section-1 .u-form-8 {
    margin-left: 667px;
  }

  .u-section-1 .u-btn-23 {
    margin-left: 363px;
  }

  .u-section-1 .u-btn-24 {
    margin-left: 546px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1733px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 164px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 506px;
  }

  .u-section-1 .u-line-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 509px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 511px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 517px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 526px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 423px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 55px;
  }

  .u-section-1 .u-table-1 {
    width: 540px;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 296px;
  }

  .u-section-1 .u-icon-4 {
    margin-left: 335px;
  }

  .u-section-1 .u-icon-5 {
    margin-right: 188px;
  }

  .u-section-1 .u-icon-6 {
    margin-left: 296px;
  }

  .u-section-1 .u-icon-7 {
    margin-right: 227px;
  }

  .u-section-1 .u-icon-8 {
    margin-left: 335px;
  }

  .u-section-1 .u-icon-9 {
    margin-left: 379px;
  }

  .u-section-1 .u-icon-10 {
    margin-left: 379px;
  }

  .u-section-1 .u-icon-11 {
    margin-left: 379px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 149px;
  }

  .u-section-1 .u-form-3 {
    margin-left: 374px;
  }

  .u-section-1 .u-form-4 {
    margin-left: 374px;
  }

  .u-section-1 .u-accordion-1 {
    width: 540px;
  }

  .u-section-1 .u-accordion-link-1 {
    font-size: 1rem;
  }

  .u-section-1 .u-table-2 {
    width: 540px;
  }

  .u-section-1 .u-icon-13 {
    margin-left: 291px;
  }

  .u-section-1 .u-icon-14 {
    margin-right: 166px;
  }

  .u-section-1 .u-icon-17 {
    margin-right: 166px;
  }

  .u-section-1 .u-icon-18 {
    margin-right: 227px;
  }

  .u-section-1 .u-icon-19 {
    margin-left: 353px;
  }

  .u-section-1 .u-icon-20 {
    margin-right: 166px;
  }

  .u-section-1 .u-icon-21 {
    margin-left: 291px;
  }

  .u-section-1 .u-icon-23 {
    margin-right: 227px;
  }

  .u-section-1 .u-form-5 {
    margin-left: 573px;
  }

  .u-section-1 .u-form-6 {
    margin-left: 576px;
  }

  .u-section-1 .u-accordion-2 {
    width: 540px;
  }

  .u-section-1 .u-accordion-link-2 {
    font-size: 1rem;
  }

  .u-section-1 .u-table-3 {
    width: 540px;
  }

  .u-section-1 .u-icon-26 {
    margin-left: 291px;
  }

  .u-section-1 .u-icon-27 {
    margin-right: 166px;
  }

  .u-section-1 .u-icon-30 {
    margin-right: 166px;
  }

  .u-section-1 .u-icon-31 {
    margin-left: 353px;
  }

  .u-section-1 .u-icon-32 {
    margin-right: 166px;
  }

  .u-section-1 .u-icon-33 {
    margin-left: 291px;
  }

  .u-section-1 .u-icon-34 {
    margin-right: 227px;
  }

  .u-section-1 .u-icon-35 {
    margin-left: 409px;
  }

  .u-section-1 .u-icon-36 {
    margin-right: 227px;
  }

  .u-section-1 .u-form-7 {
    margin-left: 577px;
  }

  .u-section-1 .u-form-8 {
    margin-left: 577px;
  }

  .u-section-1 .u-btn-23 {
    margin-left: 183px;
  }

  .u-section-1 .u-btn-24 {
    margin-left: 366px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-icon-1 {
    margin-left: 103px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 319px;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 320px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 322px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 326px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 331px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 223px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
  }

  .u-section-1 .u-table-1 {
    width: 340px;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 186px;
  }

  .u-section-1 .u-icon-4 {
    margin-left: 211px;
  }

  .u-section-1 .u-icon-5 {
    margin-right: 118px;
  }

  .u-section-1 .u-icon-6 {
    margin-left: 186px;
  }

  .u-section-1 .u-icon-7 {
    margin-right: 143px;
  }

  .u-section-1 .u-icon-8 {
    margin-left: 211px;
  }

  .u-section-1 .u-icon-9 {
    margin-left: 239px;
  }

  .u-section-1 .u-icon-10 {
    margin-left: 239px;
  }

  .u-section-1 .u-icon-11 {
    margin-left: 239px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 94px;
  }

  .u-section-1 .u-form-3 {
    margin-left: 174px;
  }

  .u-section-1 .u-form-4 {
    margin-left: 174px;
  }

  .u-section-1 .u-accordion-1 {
    width: 340px;
  }

  .u-section-1 .u-table-2 {
    width: 340px;
  }

  .u-section-1 .u-icon-13 {
    margin-left: 183px;
  }

  .u-section-1 .u-icon-14 {
    margin-right: 105px;
  }

  .u-section-1 .u-icon-15 {
    margin-right: 113px;
  }

  .u-section-1 .u-icon-16 {
    margin-right: 113px;
  }

  .u-section-1 .u-icon-17 {
    margin-right: 105px;
  }

  .u-section-1 .u-icon-18 {
    margin-right: 143px;
  }

  .u-section-1 .u-icon-19 {
    margin-left: 222px;
  }

  .u-section-1 .u-icon-20 {
    margin-right: 105px;
  }

  .u-section-1 .u-icon-21 {
    margin-left: 183px;
  }

  .u-section-1 .u-icon-22 {
    margin-right: 113px;
  }

  .u-section-1 .u-icon-23 {
    margin-right: 143px;
  }

  .u-section-1 .u-icon-24 {
    margin-right: 113px;
  }

  .u-section-1 .u-form-5 {
    margin-left: 473px;
  }

  .u-section-1 .u-form-6 {
    margin-left: 476px;
  }

  .u-section-1 .u-accordion-2 {
    width: 340px;
  }

  .u-section-1 .u-table-3 {
    width: 340px;
  }

  .u-section-1 .u-icon-26 {
    margin-left: 183px;
  }

  .u-section-1 .u-icon-27 {
    margin-right: 105px;
  }

  .u-section-1 .u-icon-28 {
    margin-right: 113px;
  }

  .u-section-1 .u-icon-29 {
    margin-right: 113px;
  }

  .u-section-1 .u-icon-30 {
    margin-right: 105px;
  }

  .u-section-1 .u-icon-31 {
    margin-left: 222px;
  }

  .u-section-1 .u-icon-32 {
    margin-right: 105px;
  }

  .u-section-1 .u-icon-33 {
    margin-left: 183px;
  }

  .u-section-1 .u-icon-34 {
    margin-right: 143px;
  }

  .u-section-1 .u-icon-35 {
    margin-left: 150px;
  }

  .u-section-1 .u-icon-36 {
    margin-right: 143px;
  }

  .u-section-1 .u-icon-37 {
    margin-right: 113px;
  }

  .u-section-1 .u-form-7 {
    margin-left: 477px;
  }

  .u-section-1 .u-form-8 {
    margin-left: 477px;
  }

  .u-section-1 .u-btn-23 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-24 {
    margin-left: 166px;
  }
}