.u-section-1 {
    min-height: 1105px;
  }
  
  .u-section-1 .u-group-1 {
    width: calc(((100% - 1140px) / 2)  + 135px);
    min-height: 1011px;
    height: auto;
    margin: 2px auto 0 0;
  }
  
  .u-section-1 .u-container-layout-1 {
    padding-top: 50px;
    padding-bottom: 0;
  }
  
  .u-section-1 .u-btn-1 {
    border-style: solid;
    font-weight: 700;
    line-height: 1;
    margin: 242px auto 0 14px;
    padding: 0;
  }
  
  .u-section-1 .u-btn-2 {
    border-style: solid;
    line-height: 1;
    font-size: 0.875rem;
    margin: 16px auto 0 25px;
    padding: 0;
  }
  
  .u-section-1 .u-btn-3 {
    border-style: solid;
    line-height: 1;
    font-size: 0.875rem;
    margin: 10px auto 0 24px;
    padding: 0;
  }
  
  .u-section-1 .u-btn-4 {
    border-style: solid;
    line-height: 1;
    font-size: 0.875rem;
    margin: 10px auto 0 25px;
    padding: 0;
  }
  
  .u-section-1 .u-btn-5 {
    border-style: solid;
    line-height: 1;
    font-size: 0.875rem;
    margin: 10px auto 0 25px;
    padding: 0;
  }
  
  .u-section-1 .u-btn-6 {
    border-style: solid;
    line-height: 1;
    font-size: 0.875rem;
    margin: 10px auto 0 25px;
    padding: 0;
  }
  
  .u-section-1 .u-btn-7 {
    border-style: solid;
    line-height: 1;
    font-size: 0.875rem;
    margin: 10px auto 0 25px;
    padding: 0;
  }
  
  .u-section-1 .u-btn-8 {
    border-style: solid;
    line-height: 1;
    font-size: 0.875rem;
    margin: 10px auto 0 24px;
    padding: 0;
  }
  
  .u-section-1 .u-btn-9 {
    border-style: solid;
    line-height: 1;
    font-size: 0.875rem;
    margin: 10px auto 0 25px;
    padding: 0;
  }
  
  .u-section-1 .u-btn-10 {
    border-style: solid;
    text-transform: uppercase;
    font-size: 0.625rem;
    letter-spacing: 1px;
    font-weight: 700;
    background-image: none;
    line-height: 1;
    margin: 52px auto 0;
  }
  
  .u-section-1 .u-text-1 {
    font-weight: 700;
    font-size: 0.75rem;
    width: 80px;
    margin: 22px auto 0;
  }
  
  .u-section-1 .u-icon-1 {
    width: 64px;
    height: 64px;
    margin: -980px auto 0 calc(((100% - 1024px) / 2) + 60px);
    padding: 13px;
  }
  
  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    font-weight: 700;
    margin: -62px calc(((100% - 1140px) / 2) + 171px) 0 calc(((100% - 1024px) / 2) + 120px);
  }
  
  .u-section-1 .u-icon-0 {
    width: 56px;
    height: 56px;
    margin: -56px calc(((100% - 1024px) / 2) + 50px) 0 auto;
    padding: 0;
  }
  
  .u-section-1 .u-line-1 {
    width: 611px;
    transform-origin: left center;
    margin: 8px calc(((100% - 1024px) / 2) + 201px) 0 auto;
  }
  
  .u-section-1 .u-text-3 {
    font-size: 0.875rem;
    line-height: 1;
    margin: 8px 20px 0 calc(((100% - 1141px) / 2) + 979px);
  }
  
  .u-section-1 .u-text-4 {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1;
    margin: 5px 19px 0 calc(((100% - 1141px) / 2) + 984px);
  }
  
  .u-section-1 .u-text-5 {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1;
    margin: 0 20px 0 calc(((100% - 1141px) / 2) + 998px);
  }
  
  .u-section-1 .u-text-6 {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1;
    margin: 1px 20px 0 calc(((100% - 1141px) / 2) + 1015px);
  }
  .u-section-1 .u-group-2 {
    width: 894px;
    min-height: 920px;
    height: auto;
    --radius: 15px;
    margin: 38px calc(((100% - 1140px) / 2)  + 12px) 0 calc(((100% - 1140px) / 2)  + 150px);
  }
  
  .u-section-1 .u-container-layout-2 {
    padding: 0;
  }
  
  .u-section-1 .u-form-1 {
    height: 146px;
    width: 359px;
    margin: 91px auto 0;
  }
  
  .u-section-1 .u-label-1 {
    font-weight: 700;
  }
  
  .u-section-1 .u-btn-11 {
    padding: 0;
  }
  
  .u-section-1 .u-table-1 {
    width: 631px;
    margin: -50px auto 0 105px;
  }
  
  .u-block-af14-36 {
    font-weight: 700;
  }
  
  .u-section-1 .u-table-body-1 {
    font-size: 0.75rem;
  }
  
  .u-section-1 .u-form-2 {
    height: 146px;
    margin: -482px 559px 0 19px;
  }
  
  .u-section-1 .u-form-group-3 {
    margin-left: 0;
  }
  
  .u-section-1 .u-label-2 {
    font-weight: 700;
  }
  
  .u-section-1 .u-btn-12 {
    padding: 0;
  }
  
  .u-section-1 .u-icon-2 {
    width: 40px;
    height: 40px;
    margin: 91px 234px 0 auto;
    padding: 0;
  }
  
  .u-section-1 .u-icon-3 {
    width: 40px;
    height: 40px;
    margin: 11px 234px 0 auto;
    padding: 0;
  }
  
  .u-section-1 .u-icon-4 {
    width: 40px;
    height: 40px;
    margin: 10px 234px 0 auto;
    padding: 0;
  }
  
  .u-section-1 .u-icon-5 {
    width: 40px;
    height: 40px;
    margin: 13px 234px 0 auto;
    padding: 0;
  }
  
  .u-section-1 .u-form-3 {
    height: 146px;
    margin: -431px 52px 0 477px;
  }
  
  .u-section-1 .u-form-group-5 {
    margin-left: 0;
  }
  
  .u-section-1 .u-label-3 {
    font-weight: 700;
  }
  
  .u-section-1 .u-btn-13 {
    padding: 0;
  }
  
  .u-section-1 .u-text-7 {
    margin: 349px auto 0 84px;
  }
  
  .u-section-1 .u-text-8 {
    font-size: 2.5rem;
    margin: -12px auto 0 235px;
  }
  
  .u-section-1 .u-btn-14 {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-image: none;
    margin: -48px 171px 0 auto;
    padding: 10px 12px 10px 11px;
  }
  
  .u-section-1 .u-btn-15 {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-image: none;
    margin: -46px 60px 0 auto;
    padding: 10px 18px 10px 16px;
  }
  
  .u-section-1 .u-text-9 {
    margin: -22px auto 0 113px;
  }
  
  .u-section-1 .u-form-4 {
    height: 68px;
    margin: -53px 252px 0 376px;
  }
  
  .u-section-1 .u-form-group-7 {
    margin-left: 0;
  }
  
  .u-section-1 .u-btn-16 {
    padding: 0;
  }
  
  .u-section-1 .u-form-5 {
    height: 235px;
    --thumb-color: #478ac9;
    --thumb-hover-color: #77aad9;
    --track-color: #c0c0c0;
    --track-active-color: #478ac9;
    margin: 10px 460px 0 54px;
  }
  
  .u-section-1 .u-label-5 {
    font-weight: 700;
    font-size: 1rem;
  }
  
  .u-section-1 .u-form-group-10 {
    --progress: 0%;
  }
  
  .u-section-1 .u-label-6 {
    font-weight: 700;
    font-size: 1rem;
  }
  
  .u-section-1 .u-btn-17 {
    padding: 0;
  }
  
  .u-section-1 .u-icon-6 {
    width: 43px;
    height: 43px;
    margin: -31px auto 0 288px;
  }
  
  .u-section-1 .u-icon-7 {
    width: 43px;
    height: 43px;
    margin: -44px auto 0 178px;
  }
  
  .u-section-1 .u-icon-8 {
    width: 43px;
    height: 43px;
    margin: -43px auto 0 178px;
  }
  
  .u-section-1 .u-icon-9 {
    width: 43px;
    height: 43px;
    margin: -42px auto 0 178px;
  }
  
  .u-section-1 .u-form-6 {
    height: 235px;
    --thumb-color: #478ac9;
    --thumb-hover-color: #77aad9;
    --track-color: #c0c0c0;
    --track-active-color: #478ac9;
    margin: -245px 60px 0 456px;
  }
  
  .u-section-1 .u-label-7 {
    font-weight: 700;
    font-size: 1rem;
  }
  
  .u-section-1 .u-form-group-13 {
    --progress: 0%;
    font-weight: 400;
    font-size: 1rem;
  }
  
  .u-section-1 .u-label-8 {
    font-weight: 700;
    font-size: 1rem;
  }
  
  .u-section-1 .u-btn-18 {
    padding: 0;
  }
  
  .u-section-1 .u-icon-10 {
    width: 43px;
    height: 43px;
    margin: -34px 161px 0 auto;
  }
  
  .u-section-1 .u-icon-11 {
    width: 43px;
    height: 43px;
    margin: -43px 276px 0 auto;
  }
  
  .u-section-1 .u-btn-19 {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-image: none;
    margin: 20px calc(((100% - 1140px) / 2)  + 390px) 53px calc(((100% - 1140px) / 2)  + 500px);
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-group-1 {
      width: calc(((100% - 940px) / 2) + 135px);
      height: auto;
    }
  
    .u-section-1 .u-container-layout-1 {
      padding-left: 9px;
      padding-right: 9px;
    }
  
    .u-section-1 .u-btn-2 {
      margin-left: 22px;
    }
  
    .u-section-1 .u-btn-4 {
      margin-left: 22px;
    }
  
    .u-section-1 .u-btn-5 {
      margin-left: 22px;
    }
  
    .u-section-1 .u-btn-6 {
      margin-left: 22px;
    }
  
    .u-section-1 .u-btn-7 {
      margin-left: 20px;
    }
  
    .u-section-1 .u-btn-8 {
      margin-top: 25px;
    }
  
    .u-section-1 .u-btn-10 {
      margin-left: -15px;
      margin-right: -15px;
    }
  
    .u-section-1 .u-text-1 {
      margin-right: 25px;
      margin-left: -4px;
    }
  
    .u-section-1 .u-text-2 {
      margin-right: calc(((100% - 940px) / 2) + 104px);
      margin-left: calc(((100% - 940px) / 2) + 401px);
    }
  
    .u-section-1 .u-icon-1 {
      margin-left: calc(((100% - 940px) / 2) + 263px);
    }
    .u-section-1 .u-icon-2 {
        margin-right: calc(((100% - 1141px) / 2) + 44px);
      }
  
    .u-section-1 .u-line-1 {
      margin-right: calc(((100% - 940px) / 2) + 153px);
    }
  
    .u-section-1 .u-text-3 {
      margin-left: calc(((100% - 940px) / 2) + 859px);
    }
  
    .u-section-1 .u-text-4 {
      margin-left: calc(((100% - 940px) / 2) + 862px);
    }
  
    .u-section-1 .u-text-5 {
      margin-left: calc(((100% - 940px) / 2) + 860px);
    }
  
    .u-section-1 .u-text-6 {
      margin-left: calc(((100% - 940px) / 2) + 878px);
    }
  
    .u-section-1 .u-group-2 {
      margin-right: calc(((100% - 940px) / 2) + 12px);
      height: auto;
    }
  
    .u-section-1 .u-btn-11 {
      border-style: solid;
    }
  
    .u-section-1 .u-form-2 {
      width: 200px;
    }
  
    .u-section-1 .u-btn-12 {
      border-style: solid;
    }
  
    .u-section-1 .u-form-5 {
      width: 205px;
    }
  
    .u-section-1 .u-btn-19 {
      margin-right: calc(((100% - 940px) / 2));
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-group-1 {
      width: calc(((100% - 720px) / 2) + 135px);
    }
  
    .u-section-1 .u-container-layout-1 {
      padding-top: 30px;
    }
  
    .u-section-1 .u-text-2 {
      margin-right: calc(((100% - 720px) / 2));
      margin-left: calc(((100% - 720px) / 2) + 285px);
    }
  
    .u-section-1 .u-icon-1 {
      margin-left: calc(((100% - 720px) / 2) + 201px);
    }
    .u-section-1 .u-icon-2 {
        margin-right: calc(((100% - 1141px) / 2) + 254px);
      }
    .u-section-1 .u-line-1 {
      margin-right: calc(((100% - 720px) / 2) + 109px);
    }
  
    .u-section-1 .u-text-3 {
      margin-left: calc(((100% - 720px) / 2) + 658px);
    }
  
    .u-section-1 .u-text-4 {
      margin-left: calc(((100% - 720px) / 2) + 660px);
    }
  
    .u-section-1 .u-text-5 {
      margin-left: calc(((100% - 720px) / 2) + 640px);
    }
  
    .u-section-1 .u-text-6 {
      margin-left: calc(((100% - 720px) / 2) + 658px);
    }
  
    .u-section-1 .u-group-2 {
      width: 720px;
      margin-right: calc(((100% - 720px) / 2));
    }
  
    .u-section-1 .u-table-1 {
      margin-left: 89px;
    }
  
    .u-section-1 .u-form-2 {
      margin-left: 0;
      margin-right: 404px;
    }
  
    .u-section-1 .u-form-3 {
      margin-right: 0;
      margin-left: 355px;
    }
  
    .u-section-1 .u-btn-14 {
      margin-right: 0;
    }
  
    .u-section-1 .u-btn-15 {
      margin-right: 0;
    }
  
    .u-section-1 .u-form-4 {
      margin-right: 165px;
      margin-left: 289px;
    }
  
    .u-section-1 .u-form-5 {
      margin-left: 0;
      margin-right: 340px;
    }
  
    .u-section-1 .u-icon-6 {
      margin-left: 232px;
    }
  
    .u-section-1 .u-form-6 {
      margin-right: 0;
      margin-left: 342px;
    }
  
    .u-section-1 .u-icon-11 {
      margin-right: 222px;
    }
  
    .u-section-1 .u-btn-19 {
      margin-right: calc(((100% - 720px) / 2));
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-group-1 {
      width: calc(((100% - 540px) / 2) + 135px);
    }
  
    .u-section-1 .u-text-2 {
      font-size: 1.875rem;
      margin-right: calc(((100% - 540px) / 2));
      margin-left: calc(((100% - 540px) / 2) + 105px);
    }
  
    .u-section-1 .u-icon-1 {
      margin-left: calc(((100% - 540px) / 2) + 151px);
    }
  
    .u-section-1 .u-line-1 {
      width: 540px;
      margin-right: calc(((100% - 540px) / 2));
    }
  
    .u-section-1 .u-text-3 {
      margin-left: calc(((100% - 540px) / 2) + 494px);
    }
  
    .u-section-1 .u-text-4 {
      margin-left: calc(((100% - 540px) / 2) + 495px);
    }
  
    .u-section-1 .u-text-5 {
      margin-left: calc(((100% - 540px) / 2) + 460px);
    }
  
    .u-section-1 .u-text-6 {
      margin-left: calc(((100% - 540px) / 2) + 478px);
    }
  
    .u-section-1 .u-group-2 {
      width: 540px;
      margin-right: calc(((100% - 540px) / 2));
    }
  
    .u-section-1 .u-table-1 {
      width: 540px;
      margin-left: 0;
    }
  
    .u-section-1 .u-form-2 {
      margin-right: 224px;
    }
  
    .u-section-1 .u-icon-2 {
      margin-right: 176px;
    }
  
    .u-section-1 .u-icon-3 {
      margin-right: 176px;
    }
  
    .u-section-1 .u-icon-4 {
      margin-right: 176px;
    }
  
    .u-section-1 .u-icon-5 {
      margin-right: 176px;
    }
  
    .u-section-1 .u-form-3 {
      margin-left: 175px;
    }
  
    .u-section-1 .u-text-8 {
      margin-left: 176px;
    }
  
    .u-section-1 .u-form-4 {
      margin-right: 75px;
      margin-left: 199px;
    }
  
    .u-section-1 .u-form-5 {
      margin-right: 160px;
    }
  
    .u-section-1 .u-icon-6 {
      margin-left: 174px;
    }
  
    .u-section-1 .u-form-6 {
      margin-left: 162px;
    }
  
    .u-section-1 .u-icon-11 {
      margin-right: 167px;
    }
  
    .u-section-1 .u-btn-19 {
      margin-right: calc(((100% - 540px) / 2));
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-group-1 {
      width: calc(((100% - 340px) / 2) + 135px);
    }
  
    .u-section-1 .u-text-2 {
      font-size: 1.5rem;
      margin-right: calc(((100% - 340px) / 2));
      margin-left: calc(((100% - 340px) / 2));
    }
  
    .u-section-1 .u-icon-1 {
      margin-left: calc(((100% - 340px) / 2) + 95px);
    }
  
    .u-section-1 .u-line-1 {
      width: 340px;
      margin-right: calc(((100% - 340px) / 2));
    }
  
    .u-section-1 .u-text-3 {
      margin-left: calc(((100% - 340px) / 2) + 311px);
    }
  
    .u-section-1 .u-text-4 {
      margin-left: calc(((100% - 340px) / 2) + 312px);
    }
  
    .u-section-1 .u-text-5 {
      margin-left: calc(((100% - 340px) / 2) + 260px);
    }
  
    .u-section-1 .u-text-6 {
      margin-left: calc(((100% - 340px) / 2) + 278px);
    }
  
    .u-section-1 .u-group-2 {
      width: 340px;
      margin-right: calc(((100% - 340px) / 2));
    }
  
    .u-section-1 .u-form-1 {
      width: 340px;
    }
  
    .u-section-1 .u-table-1 {
      width: 340px;
    }
  
    .u-section-1 .u-form-2 {
      margin-right: 24px;
    }
  
    .u-section-1 .u-icon-2 {
      margin-right: 111px;
    }
  
    .u-section-1 .u-icon-3 {
      margin-right: 111px;
    }
  
    .u-section-1 .u-icon-4 {
      margin-right: 111px;
    }
  
    .u-section-1 .u-icon-5 {
      margin-right: 111px;
    }
  
    .u-section-1 .u-form-3 {
      margin-left: 0;
    }
  
    .u-section-1 .u-text-8 {
      margin-left: 111px;
    }
  
    .u-section-1 .u-form-4 {
      margin-right: 0;
      margin-left: 74px;
    }
  
    .u-section-1 .u-form-5 {
      margin-right: 0;
    }
  
    .u-section-1 .u-icon-6 {
      margin-left: 110px;
    }
  
    .u-section-1 .u-icon-7 {
      margin-left: 112px;
    }
  
    .u-section-1 .u-icon-8 {
      margin-left: 112px;
    }
  
    .u-section-1 .u-icon-9 {
      margin-left: 112px;
    }
  
    .u-section-1 .u-form-6 {
      margin-left: 0;
    }
  
    .u-section-1 .u-icon-10 {
      margin-right: 101px;
    }
  
    .u-section-1 .u-icon-11 {
      margin-right: 105px;
    }
  
    .u-section-1 .u-btn-19 {
      margin-right: calc(((100% - 340px) / 2));
    }
  }