<link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    
   
    
  <body data-path-to-root="./" data-include-products="false" class="u-body u-xl-mode" data-lang="es">
    <section class="u-clearfix u-section-1" id="sec-020e">
        <div class="u-group-1"> 
            <div class="u-container-layout u-container-layout-1"></div></div>
      
      <span class="u-border-2 u-border-palette-1-base u-file-icon u-icon u-icon-circle u-text-palette-1-base u-icon-1" data-href="/esterilizacion"><img src="../../../assets/images/271220-7c290514.png" alt=""></span>
      <h3 class="u-align-center u-text u-text-custom-color-3 u-text-2" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">ESTERILIZADOR</h3>
      <span class="u-icon u-text-custom-color-11 u-icon-0"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 55 55" style=""><use xlink:href="#svg-cb6a"></use></svg><svg class="u-svg-content" viewBox="0 0 55 55" x="0px" y="0px" id="svg-cb6a" style="enable-background:new 0 0 55 55;"><path d="M55,27.5C55,12.337,42.663,0,27.5,0S0,12.337,0,27.5c0,8.009,3.444,15.228,8.926,20.258l-0.026,0.023l0.892,0.752
	c0.058,0.049,0.121,0.089,0.179,0.137c0.474,0.393,0.965,0.766,1.465,1.127c0.162,0.117,0.324,0.234,0.489,0.348
	c0.534,0.368,1.082,0.717,1.642,1.048c0.122,0.072,0.245,0.142,0.368,0.212c0.613,0.349,1.239,0.678,1.88,0.98
	c0.047,0.022,0.095,0.042,0.142,0.064c2.089,0.971,4.319,1.684,6.651,2.105c0.061,0.011,0.122,0.022,0.184,0.033
	c0.724,0.125,1.456,0.225,2.197,0.292c0.09,0.008,0.18,0.013,0.271,0.021C25.998,54.961,26.744,55,27.5,55
	c0.749,0,1.488-0.039,2.222-0.098c0.093-0.008,0.186-0.013,0.279-0.021c0.735-0.067,1.461-0.164,2.178-0.287
	c0.062-0.011,0.125-0.022,0.187-0.034c2.297-0.412,4.495-1.109,6.557-2.055c0.076-0.035,0.153-0.068,0.229-0.104
	c0.617-0.29,1.22-0.603,1.811-0.936c0.147-0.083,0.293-0.167,0.439-0.253c0.538-0.317,1.067-0.648,1.581-1
	c0.185-0.126,0.366-0.259,0.549-0.391c0.439-0.316,0.87-0.642,1.289-0.983c0.093-0.075,0.193-0.14,0.284-0.217l0.915-0.764
	l-0.027-0.023C51.523,42.802,55,35.55,55,27.5z M2,27.5C2,13.439,13.439,2,27.5,2S53,13.439,53,27.5
	c0,7.577-3.325,14.389-8.589,19.063c-0.294-0.203-0.59-0.385-0.893-0.537l-8.467-4.233c-0.76-0.38-1.232-1.144-1.232-1.993v-2.957
	c0.196-0.242,0.403-0.516,0.617-0.817c1.096-1.548,1.975-3.27,2.616-5.123c1.267-0.602,2.085-1.864,2.085-3.289v-3.545
	c0-0.867-0.318-1.708-0.887-2.369v-4.667c0.052-0.52,0.236-3.448-1.883-5.864C34.524,9.065,31.541,8,27.5,8
	s-7.024,1.065-8.867,3.168c-2.119,2.416-1.935,5.346-1.883,5.864v4.667c-0.568,0.661-0.887,1.502-0.887,2.369v3.545
	c0,1.101,0.494,2.128,1.34,2.821c0.81,3.173,2.477,5.575,3.093,6.389v2.894c0,0.816-0.445,1.566-1.162,1.958l-7.907,4.313
	c-0.252,0.137-0.502,0.297-0.752,0.476C5.276,41.792,2,35.022,2,27.5z"></path></svg></span>
      <div class="u-border-3 u-border-custom-color-5 u-line u-line-horizontal u-line-1"></div>
      <p class="u-custom-font u-font-arial u-text u-text-custom-color-2 u-text-default u-text-3">Usuario</p>
      <p class="u-custom-font u-font-arial u-text u-text-custom-color-2 u-text-default u-text-4">Puesto</p>
      <p class="u-custom-font u-font-arial u-text u-text-custom-color-2 u-text-default u-text-5">Área</p>
      <p class="u-custom-font u-font-arial u-text u-text-custom-color-2 u-text-default u-text-6">Id</p>
      


      <div class="u-border-2 u-border-grey-75 u-container-style u-group u-radius u-shape-round u-group-2">
        <div class="u-container-layout u-container-layout-2">
          <div class="u-form u-form-1">
            <form action="https://forms.nicepagesrv.com/v2/form/process" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="email" name="form-2" style="padding: 10px;">
              <div class="u-form-group u-form-name">
                <label for="name-504d" class="u-label u-text-custom-color-2 u-label-1">Ingresa QR:</label>
                <input type="text" placeholder="Ingresa el QR" id="name-504d" name="name" class="u-input u-input-rectangle" required="">
              </div>
              <div class="u-align-left u-form-group u-form-submit">
                <a href="#" class="u-active-none u-border-active-palette-2-dark-1 u-border-hover-palette-2-base u-border-none u-btn u-btn-submit u-button-style u-hover-none u-none u-text-body-alt-color u-btn-11">Enviar</a>
                <input type="submit" value="submit" class="u-form-control-hidden">
              </div>
              <div class="u-form-send-message u-form-send-success"> Gracias! Tu mensaje ha sido enviado. </div>
              <div class="u-form-send-error u-form-send-message"> No se puede enviar su mensaje. Por favor, corrija los errores y vuelva a intentarlo. </div>
              <input type="hidden" value="" name="recaptchaResponse">
              <input type="hidden" name="formServices" value="64f6d1fc-9b03-2bb0-a357-4638e4250b99">
            </form>
          </div>
          <div class="u-table u-table-responsive u-table-1">
            <table class="u-table-entity">
              <colgroup>
                <col width="16.96%">
                <col width="56.74%">
                <col width="26.31%">
              </colgroup>
              <thead class="u-table-header">
                <tr style="height: 47px;">
                  <th class="u-border-2 u-border-grey-dark-1 u-border-no-left u-border-no-right u-border-no-top u-table-cell">ID</th>
                  <th class="u-border-2 u-border-grey-dark-1 u-border-no-left u-border-no-right u-border-no-top u-table-cell">PAQUETE</th>
                  <th class="u-border-2 u-border-grey-dark-1 u-border-no-left u-border-no-right u-border-no-top u-table-cell">INCIDENCIA</th>
                </tr>
              </thead>
              <tbody class="u-custom-font u-table-body u-text-font u-table-body-1">
                <tr style="height: 50px;">
                  <td class="u-border-1 u-border-grey-75 u-border-no-left u-border-no-right u-table-cell">001<br>
                  </td>
                  <td class="u-border-1 u-border-grey-75 u-border-no-left u-border-no-right u-table-cell">LAPAROTOMÍA</td>
                  <td class="u-border-1 u-border-grey-75 u-border-no-left u-border-no-right u-table-cell"></td>
                </tr>
                <tr style="height: 50px;">
                  <td class="u-border-1 u-border-grey-75 u-border-no-left u-border-no-right u-table-cell">002</td>
                  <td class="u-border-1 u-border-grey-75 u-border-no-left u-border-no-right u-table-cell">APENDICECTOMÍA</td>
                  <td class="u-border-1 u-border-grey-75 u-border-no-left u-border-no-right u-table-cell"></td>
                </tr>
                <tr style="height: 50px;">
                  <td class="u-border-1 u-border-grey-75 u-border-no-left u-border-no-right u-table-cell">003</td>
                  <td class="u-border-1 u-border-grey-75 u-border-no-left u-border-no-right u-table-cell">TRANSPLANTE DE RIÑON</td>
                  <td class="u-border-1 u-border-grey-75 u-border-no-left u-border-no-right u-table-cell"></td>
                </tr>
                <tr style="height: 50px;">
                  <td class="u-border-1 u-border-grey-75 u-border-no-left u-border-no-right u-table-cell">004</td>
                  <td class="u-border-1 u-border-grey-75 u-border-no-left u-border-no-right u-table-cell">SALPINGECTOMÍA</td>
                  <td class="u-border-1 u-border-grey-75 u-border-no-left u-border-no-right u-table-cell"></td>
                </tr>
              </tbody>
              <tfoot class="u-table-footer">
                <tr style="height: 47px;">
                  <td class="u-border-2 u-border-grey-dark-1 u-border-no-left u-border-no-right u-border-no-top u-table-cell"></td>
                  <td class="u-border-2 u-border-grey-dark-1 u-border-no-left u-border-no-right u-border-no-top u-table-cell"></td>
                  <td class="u-border-2 u-border-grey-dark-1 u-border-no-left u-border-no-right u-border-no-top u-table-cell"></td>
                </tr>
              </tfoot>
            </table>
          </div>
          <div class="u-form u-form-2">
            <form action="https://forms.nicepagesrv.com/v2/form/process" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="email" name="form-2" style="padding: 10px;">
              <div class="u-form-group u-form-select u-form-group-3">
                <label for="select-17ce" class="u-label u-text-custom-color-2 u-label-2">Esterilizador:</label>
                <div class="u-form-select-wrapper">
                  <select id="select-17ce" name="select" class="u-input u-input-rectangle">
                    <option value="1" data-calc="1">1</option>
                    <option value="2" data-calc="2">2</option>
                    <option value="3" data-calc="3">3</option>
                  </select>
                  <svg class="u-caret u-caret-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16" style="fill:currentColor;" xml:space="preserve"><polygon class="st0" points="8,12 2,4 14,4 "></polygon></svg>
                </div>
              </div>
              <div class="u-align-left u-form-group u-form-submit">
                <a href="#" class="u-active-none u-border-active-palette-2-dark-1 u-border-hover-palette-2-base u-border-none u-btn u-btn-submit u-button-style u-hover-none u-none u-text-body-alt-color u-text-hover-white u-btn-12">Enviar</a>
                <input type="submit" value="submit" class="u-form-control-hidden">
              </div>
              <div class="u-form-send-message u-form-send-success"> Gracias! Tu mensaje ha sido enviado. </div>
              <div class="u-form-send-error u-form-send-message"> No se puede enviar su mensaje. Por favor, corrija los errores y vuelva a intentarlo. </div>
              <input type="hidden" value="" name="recaptchaResponse">
              <input type="hidden" name="formServices" value="64f6d1fc-9b03-2bb0-a357-4638e4250b99">
            </form>
          </div><span class="u-dialog-link u-file-icon u-icon u-text-palette-5-dark-1 u-icon-2" data-href="#sec-85e0"><img src="../../../assets/images/497789-978dd270.png" alt=""></span><span class="u-dialog-link u-file-icon u-icon u-text-palette-5-dark-1 u-icon-3" data-href="#sec-85e0"><img src="../../../assets/images/497789-978dd270.png" alt=""></span><span class="u-dialog-link u-file-icon u-icon u-text-palette-5-dark-1 u-icon-4" data-href="#sec-85e0"><img src="../../../assets/images/497789-978dd270.png" alt=""></span><span class="u-dialog-link u-file-icon u-icon u-text-palette-5-dark-1 u-icon-5" data-href="#textarea"><img src="../../../assets/images/497789-978dd270.png" alt=""></span>
          <div class="u-form u-form-3">
            <form action="https://forms.nicepagesrv.com/v2/form/process" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="email" name="form-2" style="padding: 10px;">
              <div class="u-form-group u-form-select u-form-group-5">
                <label for="select-6ea7" class="u-label u-text-custom-color-2 u-label-3">Ciclo:</label>
                <div class="u-form-select-wrapper">
                  <select id="select-6ea7" name="select" class="u-input u-input-rectangle u-text-body-color">
                    <option value="134°C" data-calc="134°C">Rápido</option>
                    <option value="134°C" data-calc="134°C">Corto</option>
                    <option value="134°C" data-calc="134°C">Estándar</option>
                    <option data-calc="121°C" value="121°C">Estándar</option>
                    <option data-calc="134°C" value="134°C">Especial Priones</option>
                  </select>
                  <svg class="u-caret u-caret-svg u-text-body-color" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16" style="fill:currentColor;" xml:space="preserve"><polygon class="st0" points="8,12 2,4 14,4 "></polygon></svg>
                </div>
              </div>
              <div class="u-align-left u-form-group u-form-submit">
                <a href="#" class="u-btn u-btn-submit u-button-style u-none u-text-body-alt-color u-btn-13">Enviar</a>
                <input type="submit" value="submit" class="u-form-control-hidden">
              </div>
              <div class="u-form-send-message u-form-send-success"> Gracias! Tu mensaje ha sido enviado. </div>
              <div class="u-form-send-error u-form-send-message"> No se puede enviar su mensaje. Por favor, corrija los errores y vuelva a intentarlo. </div>
              <input type="hidden" value="" name="recaptchaResponse">
              <input type="hidden" name="formServices" value="64f6d1fc-9b03-2bb0-a357-4638e4250b99">
            </form>
          </div>
          <h5 class="u-text u-text-default u-text-7">Tiempo <span style="font-size: 0.875rem;">(min)<span style="font-size: 1.25rem;"> :</span>
            </span>
          </h5>
          <h5 class="u-text u-text-default u-text-8">10:00</h5>
          <a href="https://nicepage.com/website-builder" class="u-border-none u-btn u-button-style u-custom-color-3 u-hover-custom-color-7 u-btn-14">inicio</a>
          <a href="#sec-9dbf" class="u-border-none u-btn u-button-style u-custom-color-6 u-dialog-link u-hover-custom-color-3 u-btn-15">paro</a>
          <h5 class="u-text u-text-default u-text-9">10: 00</h5>
          <div class="u-form u-form-4">
            <form action="https://forms.nicepagesrv.com/v2/form/process" class="u-clearfix u-form-horizontal u-form-spacing-10 u-inner-form" source="email" name="form-1" style="padding: 10px;">
              <div class="u-form-group u-form-select u-label-none u-form-group-7">
                <label for="select-994d" class="u-label">Desplegable</label>
                <div class="u-form-select-wrapper">
                  <select id="select-994d" name="select" class="u-input u-input-rectangle">
                    <option value="LAVADO" data-calc="">LAVADO</option>
                    <option value="Incubadora" data-calc="">Incubadora</option>
                    <option value="Item 3" data-calc="">Item 3</option>
                  </select>
                  <svg class="u-caret u-caret-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16" style="fill:currentColor;" xml:space="preserve"><polygon class="st0" points="8,12 2,4 14,4 "></polygon></svg>
                </div>
              </div>
              <div class="u-align-left u-form-group u-form-submit u-label-none">
                <a href="#" class="u-btn u-btn-submit u-button-style u-none u-text-body-alt-color u-btn-16">Enviar</a>
                <input type="submit" value="submit" class="u-form-control-hidden">
              </div>
              <div class="u-form-send-message u-form-send-success"> Gracias! Tu mensaje ha sido enviado. </div>
              <div class="u-form-send-error u-form-send-message"> No se puede enviar su mensaje. Por favor, corrija los errores y vuelva a intentarlo. </div>
              <input type="hidden" value="" name="recaptchaResponse">
              <input type="hidden" name="formServices" value="64f6d1fc-9b03-2bb0-a357-4638e4250b99">
            </form>
          </div>
          <div class="custom-expanded u-form u-form-5">
            <form action="https://forms.nicepagesrv.com/v2/form/process" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="email" name="form" style="padding: 10px;">
              <div class="u-form-email u-form-group">
                <label for="email-cfa8" class="u-label u-text-custom-color-2 u-label-5">Prueba Biológica</label>
                <input type="email" placeholder="Introduzca Folio" id="email-cfa8" name="email" class="u-input u-input-rectangle" required="">
              </div>
              <div class="u-form-group u-form-number u-form-number-layout-number u-form-group-10">
                <label for="number-2b3a" class="u-label u-text-custom-color-2 u-label-6">Cantidad de Pruebas</label>
                <div class="u-input-row" data-value="0">
                  <input value="0" min="0" max="100" step="1" type="number" placeholder="" id="number-2b3a" name="number" class="u-input u-input-rectangle u-text-black">
                </div>
              </div>
              <div class="u-align-left u-form-group u-form-submit">
                <a href="#" class="u-active-none u-border-active-palette-2-dark-1 u-border-hover-palette-2-base u-border-none u-btn u-btn-submit u-button-style u-hover-none u-none u-text-body-alt-color u-text-hover-white u-btn-17">Enviar</a>
                <input type="submit" value="submit" class="u-form-control-hidden">
              </div>
              <div class="u-form-send-message u-form-send-success"> Gracias! Tu mensaje ha sido enviado. </div>
              <div class="u-form-send-error u-form-send-message"> No se puede enviar su mensaje. Por favor, corrija los errores y vuelva a intentarlo. </div>
              <input type="hidden" value="" name="recaptchaResponse">
              <input type="hidden" name="formServices" value="64f6d1fc-9b03-2bb0-a357-4638e4250b99">
            </form>
          </div><span class="u-icon u-text-palette-1-base u-icon-6"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 50 50" style=""><use xlink:href="#svg-7192"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 50 50" x="0px" y="0px" id="svg-7192" style="enable-background:new 0 0 50 50;"><circle style="fill:#25AE88;" cx="25" cy="25" r="25"></circle><polyline style="fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" points="
	38,15 22,33 12,25 "></polyline></svg></span><span class="u-dialog-link u-icon u-text-palette-2-base u-icon-7" data-href="#textarea"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 51.976 51.976" style=""><use xlink:href="#svg-e040"></use></svg><svg class="u-svg-content" viewBox="0 0 51.976 51.976" x="0px" y="0px" id="svg-e040" style="enable-background:new 0 0 51.976 51.976;"><g><path d="M44.373,7.603c-10.137-10.137-26.632-10.138-36.77,0c-10.138,10.138-10.137,26.632,0,36.77s26.632,10.138,36.77,0
		C54.51,34.235,54.51,17.74,44.373,7.603z M36.241,36.241c-0.781,0.781-2.047,0.781-2.828,0l-7.425-7.425l-7.778,7.778
		c-0.781,0.781-2.047,0.781-2.828,0c-0.781-0.781-0.781-2.047,0-2.828l7.778-7.778l-7.425-7.425c-0.781-0.781-0.781-2.048,0-2.828
		c0.781-0.781,2.047-0.781,2.828,0l7.425,7.425l7.071-7.071c0.781-0.781,2.047-0.781,2.828,0c0.781,0.781,0.781,2.047,0,2.828
		l-7.071,7.071l7.425,7.425C37.022,34.194,37.022,35.46,36.241,36.241z"></path>
</g></svg></span><span class="u-dialog-link u-icon u-text-palette-2-base u-icon-8" data-href="#textarea"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 51.976 51.976" style=""><use xlink:href="#svg-3764"></use></svg><svg class="u-svg-content" viewBox="0 0 51.976 51.976" x="0px" y="0px" id="svg-3764" style="enable-background:new 0 0 51.976 51.976;"><g><path d="M44.373,7.603c-10.137-10.137-26.632-10.138-36.77,0c-10.138,10.138-10.137,26.632,0,36.77s26.632,10.138,36.77,0
		C54.51,34.235,54.51,17.74,44.373,7.603z M36.241,36.241c-0.781,0.781-2.047,0.781-2.828,0l-7.425-7.425l-7.778,7.778
		c-0.781,0.781-2.047,0.781-2.828,0c-0.781-0.781-0.781-2.047,0-2.828l7.778-7.778l-7.425-7.425c-0.781-0.781-0.781-2.048,0-2.828
		c0.781-0.781,2.047-0.781,2.828,0l7.425,7.425l7.071-7.071c0.781-0.781,2.047-0.781,2.828,0c0.781,0.781,0.781,2.047,0,2.828
		l-7.071,7.071l7.425,7.425C37.022,34.194,37.022,35.46,36.241,36.241z"></path>
</g></svg></span><span class="u-dialog-link u-icon u-text-palette-2-base u-icon-9" data-href="#textarea"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 51.976 51.976" style=""><use xlink:href="#svg-4fdb"></use></svg><svg class="u-svg-content" viewBox="0 0 51.976 51.976" x="0px" y="0px" id="svg-4fdb" style="enable-background:new 0 0 51.976 51.976;"><g><path d="M44.373,7.603c-10.137-10.137-26.632-10.138-36.77,0c-10.138,10.138-10.137,26.632,0,36.77s26.632,10.138,36.77,0
		C54.51,34.235,54.51,17.74,44.373,7.603z M36.241,36.241c-0.781,0.781-2.047,0.781-2.828,0l-7.425-7.425l-7.778,7.778
		c-0.781,0.781-2.047,0.781-2.828,0c-0.781-0.781-0.781-2.047,0-2.828l7.778-7.778l-7.425-7.425c-0.781-0.781-0.781-2.048,0-2.828
		c0.781-0.781,2.047-0.781,2.828,0l7.425,7.425l7.071-7.071c0.781-0.781,2.047-0.781,2.828,0c0.781,0.781,0.781,2.047,0,2.828
		l-7.071,7.071l7.425,7.425C37.022,34.194,37.022,35.46,36.241,36.241z"></path>
</g></svg></span>
          <div class="custom-expanded u-form u-form-6">
            <form action="https://forms.nicepagesrv.com/v2/form/process" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="email" name="form" style="padding: 10px;">
              <div class="u-form-email u-form-group">
                <label for="email-cfa8" class="u-label u-text-custom-color-2 u-label-7">Prueba Química</label>
                <input type="email" placeholder="Introduzca Folio" id="email-cfa8" name="email" class="u-input u-input-rectangle" required="">
              </div>
              <div class="u-form-group u-form-number u-form-number-layout-number u-form-group-13">
                <label for="number-447d" class="u-label u-text-custom-color-2 u-label-8">Cantidad de Pruebas</label>
                <div class="u-input-row" data-value="0">
                  <input value="0" min="0" max="100" step="1" type="number" placeholder="" id="number-447d" name="number" class="u-input u-input-rectangle u-text-black">
                </div>
              </div>
              <div class="u-align-left u-form-group u-form-submit">
                <a href="#" class="u-active-none u-border-active-palette-2-dark-1 u-border-hover-palette-2-base u-border-none u-btn u-btn-submit u-button-style u-hover-none u-none u-text-body-alt-color u-text-hover-white u-btn-18">Enviar</a>
                <input type="submit" value="submit" class="u-form-control-hidden">
              </div>
              <div class="u-form-send-message u-form-send-success"> Gracias! Tu mensaje ha sido enviado. </div>
              <div class="u-form-send-error u-form-send-message"> No se puede enviar su mensaje. Por favor, corrija los errores y vuelva a intentarlo. </div>
              <input type="hidden" value="" name="recaptchaResponse">
              <input type="hidden" name="formServices" value="64f6d1fc-9b03-2bb0-a357-4638e4250b99">
            </form>
          </div><span class="u-icon u-text-palette-1-base u-icon-10"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 50 50" style=""><use xlink:href="#svg-c7fd"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 50 50" x="0px" y="0px" id="svg-c7fd" style="enable-background:new 0 0 50 50;"><circle style="fill:#25AE88;" cx="25" cy="25" r="25"></circle><polyline style="fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" points="
	38,15 22,33 12,25 "></polyline></svg></span><span class="u-dialog-link u-icon u-text-palette-2-base u-icon-11" data-href="#textarea"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 51.976 51.976" style=""><use xlink:href="#svg-94ee"></use></svg><svg class="u-svg-content" viewBox="0 0 51.976 51.976" x="0px" y="0px" id="svg-94ee" style="enable-background:new 0 0 51.976 51.976;"><g><path d="M44.373,7.603c-10.137-10.137-26.632-10.138-36.77,0c-10.138,10.138-10.137,26.632,0,36.77s26.632,10.138,36.77,0
		C54.51,34.235,54.51,17.74,44.373,7.603z M36.241,36.241c-0.781,0.781-2.047,0.781-2.828,0l-7.425-7.425l-7.778,7.778
		c-0.781,0.781-2.047,0.781-2.828,0c-0.781-0.781-0.781-2.047,0-2.828l7.778-7.778l-7.425-7.425c-0.781-0.781-0.781-2.048,0-2.828
		c0.781-0.781,2.047-0.781,2.828,0l7.425,7.425l7.071-7.071c0.781-0.781,2.047-0.781,2.828,0c0.781,0.781,0.781,2.047,0,2.828
		l-7.071,7.071l7.425,7.425C37.022,34.194,37.022,35.46,36.241,36.241z"></path>
</g></svg></span>
        </div>
      </div>
      <a href="#sec-bb26" class="u-border-none u-btn u-button-style u-custom-color-3 u-dialog-link u-hover-custom-color-7 u-btn-19">FINALIZAR</a>
    </section>
    
    
    
    
    
    

  <section class="u-black u-clearfix u-container-style u-dialog-block u-opacity u-opacity-70 u-dialog-section-5" id="textarea">
      <div class="u-container-style u-dialog u-white u-dialog-1">
        <div class="u-container-layout u-container-layout-1">
          <h4 class="u-text u-text-custom-color-2 u-text-default u-text-1">Generar Reporte de Incidencia</h4>
          <div class="u-form u-form-1">
           <form action="https://forms.nicepagesrv.com/v2/form/process" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="email" name="form" style="padding: 10px;">
              <div class="u-form-group u-form-message u-label-none">
                <label for="message-bb85" class="u-label">Mensaje</label>
                <textarea placeholder="Observaciones" id="message-bb85" name="textarea" class="u-input u-input-rectangle" required=""></textarea>
              </div>
              <div class="u-align-center u-form-group u-form-submit u-label-none">
                <a href="#" class="u-btn u-btn-submit u-button-style u-none u-text-body-alt-color u-btn-1">Enviar</a>
                <input type="submit" value="submit" class="u-form-control-hidden">
              </div>
              <div class="u-form-send-message u-form-send-success"> Gracias! Tu mensaje ha sido enviado. </div>
              <div class="u-form-send-error u-form-send-message"> No se puede enviar su mensaje. Por favor, corrija los errores y vuelva a intentarlo. </div>
              <input type="hidden" value="" name="recaptchaResponse">
              <input type="hidden" name="formServices" value="64f6d1fc-9b03-2bb0-a357-4638e4250b99">
            </form>
          </div>
          <a href="https://nicepage.com/es/plantillas-html" class="u-border-none u-btn u-button-style u-custom-color-6 u-hover-custom-color-7 u-btn-2">cancelar</a>
          <a href="https://nicepage.com/c/fashion-beauty-website-templates" class="u-border-none u-btn u-button-style u-custom-color-6 u-hover-custom-color-7 u-btn-3">confirmar</a>
        </div><button class="u-dialog-close-button u-icon u-text-grey-40 u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 16 16" style=""><use xlink:href="#svg-efe9"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 16 16" x="0px" y="0px" id="svg-efe9"><rect x="7" y="0" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -3.3138 8.0002)" width="2" height="16"></rect><rect x="0" y="7" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -3.3138 8.0002)" width="16" height="2"></rect></svg></button>
      </div>
    </section><style>.u-dialog-section-5 .u-dialog-1 {
  width: 800px;
  min-height: 356px;
  height: auto;
  margin: 60px auto;
}

.u-dialog-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-dialog-section-5 .u-text-1 {
  font-weight: 700;
  margin: 15px auto 0;
}

.u-dialog-section-5 .u-form-1 {
  width: 570px;
  margin: 15px auto 0;
}

.u-dialog-section-5 .u-btn-1 {
  border-style: solid;
}

.u-dialog-section-5 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -46px auto 0 122px;
}

.u-dialog-section-5 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -46px auto 0 452px;
}

.u-dialog-section-5 .u-icon-1 {
  width: 20px;
  height: 20px;
}

@media (max-width: 1199px) {
  .u-dialog-section-5 .u-btn-1 {
    padding: 0;
  }

  .u-dialog-section-5 .u-btn-2 {
    margin-top: -46px;
    margin-left: 122px;
  }

  .u-dialog-section-5 .u-btn-3 {
    margin-top: -46px;
    margin-left: 452px;
  }
}

@media (max-width: 991px) {
  .u-dialog-section-5 .u-dialog-1 {
    width: 720px;
  }

  .u-dialog-section-5 .u-btn-2 {
    margin-left: 82px;
  }

  .u-dialog-section-5 .u-btn-3 {
    margin-left: 412px;
  }
}

@media (max-width: 767px) {
  .u-dialog-section-5 .u-dialog-1 {
    width: 540px;
  }

  .u-dialog-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-dialog-section-5 .u-form-1 {
    width: 520px;
  }

  .u-dialog-section-5 .u-btn-2 {
    margin-left: 61px;
  }

  .u-dialog-section-5 .u-btn-3 {
    margin-left: 293px;
  }
}

@media (max-width: 575px) {
  .u-dialog-section-5 .u-dialog-1 {
    width: 340px;
  }

  .u-dialog-section-5 .u-form-1 {
    width: 320px;
  }

  .u-dialog-section-5 .u-btn-3 {
    margin-left: 93px;
  }
}</style><section class="u-black u-clearfix u-container-style u-dialog-block u-opacity u-opacity-70 u-valign-middle u-dialog-section-6" id="sec-9dbf">
      <div class="u-align-center u-container-style u-dialog u-white u-dialog-1">
        <div class="u-container-layout u-container-layout-1">
          <h5 class="u-text u-text-custom-color-2 u-text-1" spellcheck="true">¿Está seguro de que quiere detener el temporizador?</h5>
          <a href="https://nicepage.best" class="u-border-none u-btn u-button-style u-custom-color-6 u-hover-custom-color-7 u-btn-1">ACEPTAR</a>
          <a href="https://nicepage.best" class="u-border-none u-btn u-button-style u-custom-color-6 u-hover-custom-color-7 u-btn-2"> CANCELAR</a>
        </div><button class="u-dialog-close-button u-icon u-text-grey-40 u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 16 16" style=""><use xlink:href="#svg-efe9"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 16 16" x="0px" y="0px" id="svg-efe9"><rect x="7" y="0" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -3.3138 8.0002)" width="2" height="16"></rect><rect x="0" y="7" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -3.3138 8.0002)" width="16" height="2"></rect></svg></button>
      </div>
    </section><style>.u-dialog-section-6 .u-dialog-1 {
  width: 500px;
  min-height: 250px;
  height: auto;
  margin: 60px auto;
}

.u-dialog-section-6 .u-container-layout-1 {
  padding: 30px 6px;
}

.u-dialog-section-6 .u-text-1 {
  font-weight: 700;
  width: 294px;
  margin: 32px auto 0;
}

.u-dialog-section-6 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 53px auto 0 71px;
}

.u-dialog-section-6 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -47px auto 0 264px;
}

.u-dialog-section-6 .u-icon-1 {
  width: 20px;
  height: 20px;
}

@media (max-width: 1199px) {
  .u-dialog-section-6 .u-text-1 {
    width: 294px;
  }

  .u-dialog-section-6 .u-btn-1 {
    margin-left: 61px;
  }

  .u-dialog-section-6 .u-btn-2 {
    margin-top: -47px;
    margin-left: 255px;
  }
}

@media (max-width: 767px) {
  .u-dialog-section-6 .u-btn-1 {
    margin-left: 81px;
  }

  .u-dialog-section-6 .u-btn-2 {
    margin-left: 275px;
  }
}

@media (max-width: 575px) {
  .u-dialog-section-6 .u-dialog-1 {
    width: 340px;
  }

  .u-dialog-section-6 .u-btn-1 {
    margin-left: 51px;
  }

  .u-dialog-section-6 .u-btn-2 {
    margin-left: 146px;
  }
}</style><section class="u-black u-clearfix u-container-style u-dialog-block u-opacity u-opacity-70 u-dialog-section-7" id="sec-bb26">
      <div class="u-align-center u-container-style u-dialog u-white u-dialog-1">
        <div class="u-container-layout u-container-layout-1">
          <h5 class="u-text u-text-custom-color-2 u-text-1" spellcheck="true">¿Está seguro de que quiere finalizar la esterilización?</h5>
          <a href="5a-ESTERILIZACIÓN-2.html" class="u-border-none u-btn u-button-style u-custom-color-6 u-hover-custom-color-7 u-btn-1">ACEPTAR</a>
          <a href="https://nicepage.best" class="u-border-none u-btn u-button-style u-custom-color-6 u-hover-custom-color-7 u-btn-2"> CANCELAR</a>
        </div><button class="u-dialog-close-button u-icon u-text-grey-40 u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 16 16" style=""><use xlink:href="#svg-efe9"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 16 16" x="0px" y="0px" id="svg-efe9"><rect x="7" y="0" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -3.3138 8.0002)" width="2" height="16"></rect><rect x="0" y="7" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -3.3138 8.0002)" width="16" height="2"></rect></svg></button>
      </div>
    </section><style>.u-dialog-section-7 .u-dialog-1 {
  width: 500px;
  min-height: 300px;
  height: auto;
  margin: 60px auto;
}

.u-dialog-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-dialog-section-7 .u-text-1 {
  font-weight: 700;
  width: 294px;
  margin: 71px auto 0;
}

.u-dialog-section-7 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 52px auto 0 239px;
}

.u-dialog-section-7 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -45px auto 0 63px;
}

.u-dialog-section-7 .u-icon-1 {
  width: 20px;
  height: 20px;
}

@media (max-width: 1199px) {
  .u-dialog-section-7 .u-text-1 {
    width: 294px;
  }

  .u-dialog-section-7 .u-btn-1 {
    margin-left: 239px;
  }

  .u-dialog-section-7 .u-btn-2 {
    margin-top: -45px;
    margin-left: 63px;
  }
}

@media (max-width: 991px) {
  .u-dialog-section-7 .u-btn-1 {
    margin-left: 157px;
  }

  .u-dialog-section-7 .u-btn-2 {
    margin-left: 351px;
  }
}

@media (max-width: 767px) {
  .u-dialog-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-dialog-section-7 .u-btn-1 {
    margin-left: 98px;
  }

  .u-dialog-section-7 .u-btn-2 {
    margin-left: 269px;
  }
}

@media (max-width: 575px) {
  .u-dialog-section-7 .u-dialog-1 {
    width: 340px;
  }

  .u-dialog-section-7 .u-btn-1 {
    margin-left: 84px;
  }

  .u-dialog-section-7 .u-btn-2 {
    margin-left: auto;
  }
}</style>
</body>