<!DOCTYPE html>
<html style="font-size: 16px;" lang="es"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>1b SaludoInicial_bienvenida 1</title>
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "Quirofano"
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="1b SaludoInicial_bienvenida 1">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
  <meta data-intl-tel-input-cdn-path="intlTelInput/"></head>
  <body data-path-to-root="./" data-include-products="false" class="u-body u-xl-mode" data-lang="es">
    <section class="u-clearfix u-section-1" id="sec-802d">
      <div class="u-clearfix u-sheet u-sheet-1"><span class="u-border-2 u-border-palette-1-base u-file-icon u-icon u-icon-circle u-text-palette-1-base u-icon-1" data-href="/login"><img src="../../assets/images/271220-7c290514.png" alt=""></span>
        <h3 class="u-text u-text-custom-color-8 u-text-default u-text-1">¡HOLA!</h3>
        <h3 class="u-text u-text-custom-color-8 u-text-default u-text-2">&nbsp;¡BIENVENIDO JOSÉ!&nbsp;</h3>
		<br><div style="text-align: center">
			<img src="../../assets/images/Perfil.png" width="250px">
		
        <a href="/Programacion-De-Cirugia" class="u-border-none u-btn u-btn-round u-button-style u-custom-color-11 u-radius-50 u-btn-1">PROGRAMACIÓN DE CIRUGÍA</a>
        <a href="/Registro-De-Paquetes" class="u-border-none u-btn u-btn-round u-button-style u-custom-color-11 u-radius-50 u-btn-2">CREACIÓN DE PAQUETES</a>
      </div></div>
    </section>
    
    
    
    
    
    
    
    
    
  
</body></html>
