
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">

 
    <body data-path-to-root="./" data-include-products="false" class="u-body u-xl-mode" data-lang="es">
        <section class="u-clearfix u-section-1" id="sec-020e">
            <div class="u-group-1"> 
                <div class="u-container-layout u-container-layout-1"></div></div>
          
          <span class="u-border-2 u-border-palette-1-base u-file-icon u-icon u-icon-circle u-text-palette-1-base u-icon-1" data-href="/bienvenida"><img src="../../../assets/images/271220-7c290514.png" alt=""></span>
          <h3 class="u-align-center u-text u-text-custom-color-3 u-text-2" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">Material de Quirófano y CEyE</h3>
          <span class="u-icon u-text-custom-color-11 u-icon-2"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 55 55" style=""><use xlink:href="#svg-cb6a"></use></svg><svg class="u-svg-content" viewBox="0 0 55 55" x="0px" y="0px" id="svg-cb6a" style="enable-background:new 0 0 55 55;"><path d="M55,27.5C55,12.337,42.663,0,27.5,0S0,12.337,0,27.5c0,8.009,3.444,15.228,8.926,20.258l-0.026,0.023l0.892,0.752
        c0.058,0.049,0.121,0.089,0.179,0.137c0.474,0.393,0.965,0.766,1.465,1.127c0.162,0.117,0.324,0.234,0.489,0.348
        c0.534,0.368,1.082,0.717,1.642,1.048c0.122,0.072,0.245,0.142,0.368,0.212c0.613,0.349,1.239,0.678,1.88,0.98
        c0.047,0.022,0.095,0.042,0.142,0.064c2.089,0.971,4.319,1.684,6.651,2.105c0.061,0.011,0.122,0.022,0.184,0.033
        c0.724,0.125,1.456,0.225,2.197,0.292c0.09,0.008,0.18,0.013,0.271,0.021C25.998,54.961,26.744,55,27.5,55
        c0.749,0,1.488-0.039,2.222-0.098c0.093-0.008,0.186-0.013,0.279-0.021c0.735-0.067,1.461-0.164,2.178-0.287
        c0.062-0.011,0.125-0.022,0.187-0.034c2.297-0.412,4.495-1.109,6.557-2.055c0.076-0.035,0.153-0.068,0.229-0.104
        c0.617-0.29,1.22-0.603,1.811-0.936c0.147-0.083,0.293-0.167,0.439-0.253c0.538-0.317,1.067-0.648,1.581-1
        c0.185-0.126,0.366-0.259,0.549-0.391c0.439-0.316,0.87-0.642,1.289-0.983c0.093-0.075,0.193-0.14,0.284-0.217l0.915-0.764
        l-0.027-0.023C51.523,42.802,55,35.55,55,27.5z M2,27.5C2,13.439,13.439,2,27.5,2S53,13.439,53,27.5
        c0,7.577-3.325,14.389-8.589,19.063c-0.294-0.203-0.59-0.385-0.893-0.537l-8.467-4.233c-0.76-0.38-1.232-1.144-1.232-1.993v-2.957
        c0.196-0.242,0.403-0.516,0.617-0.817c1.096-1.548,1.975-3.27,2.616-5.123c1.267-0.602,2.085-1.864,2.085-3.289v-3.545
        c0-0.867-0.318-1.708-0.887-2.369v-4.667c0.052-0.52,0.236-3.448-1.883-5.864C34.524,9.065,31.541,8,27.5,8
        s-7.024,1.065-8.867,3.168c-2.119,2.416-1.935,5.346-1.883,5.864v4.667c-0.568,0.661-0.887,1.502-0.887,2.369v3.545
        c0,1.101,0.494,2.128,1.34,2.821c0.81,3.173,2.477,5.575,3.093,6.389v2.894c0,0.816-0.445,1.566-1.162,1.958l-7.907,4.313
        c-0.252,0.137-0.502,0.297-0.752,0.476C5.276,41.792,2,35.022,2,27.5z"></path></svg></span>
          <div class="u-border-3 u-border-custom-color-5 u-line u-line-horizontal u-line-1"></div>
          <p class="u-custom-font u-font-arial u-text u-text-custom-color-2 u-text-default u-text-3">Usuario</p>
          <p class="u-custom-font u-font-arial u-text u-text-custom-color-2 u-text-default u-text-4">Puesto</p>
          <p class="u-custom-font u-font-arial u-text u-text-custom-color-2 u-text-default u-text-5">Área</p>
          <p class="u-custom-font u-font-arial u-text u-text-custom-color-2 u-text-default u-text-6">Id</p>
          
          
      <p class="u-custom-font u-font-arial u-text u-text-custom-color-2 u-text-default u-text-7">10/08/2023</p>
      <a href="#" class="u-border-none u-btn u-btn-round u-button-style u-custom-color-3 u-hover-custom-color-3 u-radius-6 u-btn-14">Generar Reporte</a>
      <a href="#sec-4630" class="u-border-none u-btn u-btn-round u-button-style u-custom-color-3 u-dialog-link u-hover-custom-color-3 u-radius-6 u-btn-15">Consulta QR</a>
      <div class="u-form u-form-1">
        <form action="https://forms.nicepagesrv.com/v2/form/process" class="u-clearfix u-form-horizontal u-form-spacing-15 u-inner-form" style="padding: 15px" source="email">
          <div class="u-form-group u-form-select u-label-top u-form-group-1">
            <label for="select-a81f" class="u-label">Selección</label>
            <div class="u-form-select-wrapper">
              <select id="select-a81f" name="select" class="u-input u-input-rectangle">
                <option value="Set de Instrumental" data-calc="">Set de Instrumental</option>
                <option value="Bulto Quirúrgico" data-calc="">Bulto Quirúrgico</option>
                <option value="Instrumental Quirúrgico" data-calc="">Instrumental Quirúrgico</option>
                <option value="Equipos/Dispositivos Médicos" data-calc="">Equipos/Dispositivos Médicos</option>
                <option value="Accesorios y Consumibles" data-calc="">Accesorios y Consumibles</option>
              </select>
              <svg class="u-caret u-caret-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16" style="fill:currentColor;" xml:space="preserve"><polygon class="st0" points="8,12 2,4 14,4 "></polygon></svg>
            </div>
          </div>
          <div class="u-form-group u-form-select u-label-top u-form-group-2">
            <label for="select-1d85" class="u-label">Área</label>
            <div class="u-form-select-wrapper">
              <select id="select-1d85" name="select-1" class="u-input u-input-rectangle">
                <option value="Quirófano" data-calc="">Quirófano</option>
                <option value="CEyE" data-calc="">CEyE</option>
              </select>
              <svg class="u-caret u-caret-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16" style="fill:currentColor;" xml:space="preserve"><polygon class="st0" points="8,12 2,4 14,4 "></polygon></svg>
            </div>
          </div>
          <div class="u-form-date u-form-group u-label-top u-form-group-3">
            <label for="date-eccc" class="u-label">Fecha</label>
            <input type="text" placeholder="MM/DD/AAAA" id="date-eccc" name="date" class="u-input u-input-rectangle" required="" data-date-format="mm/dd/yyyy">
          </div>
          <div class="u-form-group u-form-submit u-label-top">
            <a href="#" class="u-btn u-btn-submit u-button-style">Aplicar</a>
            <input type="submit" value="submit" class="u-form-control-hidden">
          </div>
          <div class="u-form-send-message u-form-send-success">Thank you! Your message has been sent.</div>
          <div class="u-form-send-error u-form-send-message">Unable to send your message. Please fix errors then try again.</div>
          <input type="hidden" value="" name="recaptchaResponse">
          <input type="hidden" name="formServices" value="64f6d1fc-9b03-2bb0-a357-4638e4250b99">
        </form>
      </div>
      <p class="u-text u-text-custom-color-2 u-text-8">Set de Instrumental&nbsp;</p><span class="u-file-icon u-icon u-icon-3"><img src="../../../assets/images/5676233.png" alt=""></span>
      <div class="custom-expanded u-table u-table-responsive u-table-1">
        <table class="u-table-entity">
          <colgroup>
            <col width="16.6%">
            <col width="16.6%">
            <col width="16.6%">
            <col width="16.6%">
            <col width="17%">
            <col width="16.6%">
          </colgroup>
          <thead class="u-align-center u-table-header u-table-header-1">
            <tr style="height: 33px;">
              <th class="u-border-2 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">Semáforo&nbsp;</th>
              <th class="u-border-2 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">Nombre</th>
              <th class="u-border-2 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">Por Elaborar</th>
              <th class="u-border-2 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">Estatus</th>
              <th class="u-border-2 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">Acción</th>
              <th class="u-border-2 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">Impresión&nbsp;</th>
            </tr>
          </thead>
          <tbody class="u-align-center u-table-body">
            <tr style="height: 44px;">
              <td class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell"></td>
              <td class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">Set Laparoscopia&nbsp;</td>
              <td class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">3</td>
              <td class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">Pendiente</td>
              <td class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell"></td>
              <td class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell"></td>
            </tr>
            <tr style="height: 58px;">
              <td class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell"></td>
              <td class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">Set 3<br>Apendicetomía&nbsp;
              </td>
              <td class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">2</td>
              <td class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">Pendiente&nbsp;</td>
              <td class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell"></td>
              <td class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell"></td>
            </tr>
            <tr style="height: 47px;">
              <td class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell"></td>
              <td class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">Set 2&nbsp;<br>Cesáreas&nbsp;&nbsp;
              </td>
              <td class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">1</td>
              <td class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">Entregado</td>
              <td class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell"></td>
              <td class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <a href="/empaquetado-set" class="u-border-none u-btn u-btn-round u-button-style u-custom-color-3 u-hover-custom-color-3 u-radius u-btn-17">Empaquetar</a>
      <a href="" class="u-border-none u-btn u-btn-round u-button-style u-grey-40 u-hover-grey-40 u-radius u-btn-18">QR</a>
      <a href="/empaquetado-set" class="u-border-none u-btn u-btn-round u-button-style u-custom-color-3 u-hover-custom-color-3 u-radius u-btn-19">Empaquetar</a>
      <a href="" class="u-border-none u-btn u-btn-round u-button-style u-grey-40 u-hover-custom-color-3 u-radius u-btn-20">QR</a>
      <a href="" class="u-border-none u-btn u-btn-round u-button-style u-grey-40 u-hover-grey-40 u-radius u-btn-21">Empaquetar</a>
      <a href="#sec-52d3" class="u-border-none u-btn u-btn-round u-button-style u-custom-color-3 u-dialog-link u-hover-custom-color-3 u-radius u-btn-22">QR</a><span class="u-file-icon u-icon u-text-palette-2-base u-icon-4"><img src="../../../assets/images/1281188-31e3c656.png" alt=""></span><span class="u-file-icon u-icon u-text-palette-3-base u-icon-5"><img src="../../../assets/images/1281188-793e7bae.png" alt=""></span><span class="u-file-icon u-icon u-text-custom-color-4 u-icon-6"><img src="../../../assets/images/1281188-212c858c.png" alt=""></span>
    </section>
    
    
    
    
    
    
  <section class="u-black u-clearfix u-container-style u-dialog-block u-opacity u-opacity-70 u-dialog-section-7" id="sec-4630">
      <div class="u-container-style u-dialog u-white u-dialog-1">
        <div class="u-container-layout u-container-layout-1">
          <h4 class="u-text u-text-custom-color-1 u-text-default u-text-1">Escanea tu QR a consultar</h4><span class="u-file-icon u-icon u-icon-1" data-href="#"><img src="../../../assets/images/7518540.png" alt=""></span>
          <div class="u-form u-form-1">
            <form action="https://forms.nicepagesrv.com/v2/form/process" class="u-clearfix u-form-horizontal u-form-spacing-10 u-inner-form" source="email" name="form" style="padding: 10px;">
              <div class="u-form-email u-form-group">
                <label for="email-b3ae" class="u-label">No. QR</label>
                <input type="email" placeholder="Introduzca el número de QR" id="email-b3ae" name="email" class="u-input u-input-rectangle" required="" spellcheck="false">
              </div>
              <div class="u-align-left u-form-group u-form-submit">
                <a href="#" class="u-btn u-btn-submit u-button-style u-none u-text-body-alt-color u-btn-1">Enviar</a>
                <input type="submit" value="submit" class="u-form-control-hidden">
              </div>
              <div class="u-form-send-message u-form-send-success"> Gracias! Tu mensaje ha sido enviado. </div>
              <div class="u-form-send-error u-form-send-message"> No se puede enviar su mensaje. Por favor, corrija los errores y vuelva a intentarlo. </div>
              <input type="hidden" value="" name="recaptchaResponse">
              <input type="hidden" name="formServices" value="64f6d1fc-9b03-2bb0-a357-4638e4250b99">
            </form>
          </div>
          <a href="" class="u-border-none u-btn u-button-style u-custom-color-3 u-hover-custom-color-2 u-btn-2">ACEPTAR</a>
        </div><button class="u-dialog-close-button u-icon u-text-grey-40 u-icon-2"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 16 16" style=""><use xlink:href="#svg-efe9"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 16 16" x="0px" y="0px" id="svg-efe9"><rect x="7" y="0" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -3.3138 8.0002)" width="2" height="16"></rect><rect x="0" y="7" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -3.3138 8.0002)" width="16" height="2"></rect></svg></button>
      </div>
    </section>
    
    
    
    <style>.u-dialog-section-7 .u-dialog-1 {
  width: 710px;
  min-height: 341px;
  height: auto;
  margin: 125px calc(((100% - 1140px) / 2) + 170px) 60px auto;
}

.u-dialog-section-7 .u-container-layout-1 {
  padding: 0 30px;
}

.u-dialog-section-7 .u-text-1 {
  font-weight: 700;
  margin: 32px auto 0;
}

.u-dialog-section-7 .u-icon-1 {
  width: 172px;
  height: 172px;
  margin: 14px auto 0;
  padding: 0;
}

.u-dialog-section-7 .u-form-1 {
  height: 68px;
  margin: 0 121px 0 37px;
}

.u-dialog-section-7 .u-btn-1 {
  padding: 0;
}

.u-dialog-section-7 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -57px 23px 0 auto;
}

.u-dialog-section-7 .u-icon-2 {
  width: 20px;
  height: 20px;
}

@media (max-width: 1199px) {
  .u-dialog-section-7 .u-dialog-1 {
    margin-right: calc(((100% - 940px) / 2) + 170px);
  }

  .u-dialog-section-7 .u-icon-1 {
    width: 172px;
  }

  .u-dialog-section-7 .u-form-1 {
    margin-right: 121px;
  }

  .u-dialog-section-7 .u-btn-2 {
    margin-top: -57px;
    margin-right: 23px;
  }
}

@media (max-width: 991px) {
  .u-dialog-section-7 .u-dialog-1 {
    margin-right: calc(((100% - 720px) / 2) + 10px);
  }
}

@media (max-width: 767px) {
  .u-dialog-section-7 .u-dialog-1 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-dialog-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-dialog-section-7 .u-form-1 {
    margin-right: 28px;
    margin-left: 0;
  }

  .u-dialog-section-7 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-dialog-section-7 .u-dialog-1 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-dialog-section-7 .u-form-1 {
    margin-right: 0;
  }
}</style><section class="u-black u-clearfix u-container-style u-dialog-block u-opacity u-opacity-70 u-dialog-section-8" id="sec-52d3">
      <div class="u-container-style u-dialog u-white u-dialog-1">
        <div class="u-container-layout u-valign-middle u-container-layout-1">
          <h4 class="u-text u-text-custom-color-2 u-text-default u-text-1">¿Desea imprimir el código QR?</h4>
          <a href="" class="u-btn u-button-style u-hover-palette-1-dark-1 u-palette-1-base u-btn-1">CANCELAR</a>
          <a href="" class="u-btn u-button-style u-hover-palette-1-dark-1 u-palette-1-base u-btn-2">CONFIRMAR</a>
        </div><button class="u-dialog-close-button u-icon u-text-grey-40 u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 16 16" style=""><use xlink:href="#svg-efe9"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 16 16" x="0px" y="0px" id="svg-efe9"><rect x="7" y="0" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -3.3138 8.0002)" width="2" height="16"></rect><rect x="0" y="7" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -3.3138 8.0002)" width="16" height="2"></rect></svg></button>
      </div>
    </section><style>.u-dialog-section-8 .u-dialog-1 {
  width: 800px;
  min-height: 250px;
  margin: 60px auto;
}

.u-dialog-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-dialog-section-8 .u-text-1 {
  font-weight: 700;
  margin: 0 auto;
}

.u-dialog-section-8 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 54px auto 0 203px;
}

.u-dialog-section-8 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -45px auto 0 371px;
}

.u-dialog-section-8 .u-icon-1 {
  width: 20px;
  height: 20px;
}

@media (max-width: 1199px) {
  .u-dialog-section-8 .u-btn-1 {
    margin-top: 53px;
    margin-left: 203px;
  }

  .u-dialog-section-8 .u-btn-2 {
    margin-top: -46px;
    margin-left: 371px;
  }
}

@media (max-width: 991px) {
  .u-dialog-section-8 .u-dialog-1 {
    width: 720px;
  }

  .u-dialog-section-8 .u-btn-1 {
    margin-left: 163px;
  }

  .u-dialog-section-8 .u-btn-2 {
    margin-left: 331px;
  }
}

@media (max-width: 767px) {
  .u-dialog-section-8 .u-dialog-1 {
    width: 540px;
  }

  .u-dialog-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-dialog-section-8 .u-btn-1 {
    margin-left: 101px;
  }

  .u-dialog-section-8 .u-btn-2 {
    margin-left: 252px;
  }
}

@media (max-width: 575px) {
  .u-dialog-section-8 .u-dialog-1 {
    width: 340px;
  }

  .u-dialog-section-8 .u-btn-1 {
    margin-left: 77px;
  }

  .u-dialog-section-8 .u-btn-2 {
    margin-left: auto;
  }
}</style>
</body>