
  <body data-path-to-root="./" data-include-products="false" class="u-body u-xl-mode" data-lang="es">
    <section class="u-clearfix u-hidden-md u-hidden-sm u-hidden-xs u-section-1" id="sec-6b0c">
      <div class="u-group-1"> 
      <div class="u-container-layout u-container-layout-1"></div></div>

    <span class="u-border-2 u-border-palette-1-base u-file-icon u-icon u-icon-circle u-text-palette-1-base u-icon-1" data-href="/Programacion-De-Cirugia"><img src="../../assets/images/271220-7c290514.png" alt=""></span>
    <h3 class="u-align-center u-text u-text-custom-color-3 u-text-2" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">DATOS DE PROGRAMACIÓN</h3>
      <span class="u-icon u-text-custom-color-11 u-icon-2"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 55 55" style=""><use xlink:href="#svg-cb6a"></use></svg><svg class="u-svg-content" viewBox="0 0 55 55" x="0px" y="0px" id="svg-cb6a" style="enable-background:new 0 0 55 55;"><path d="M55,27.5C55,12.337,42.663,0,27.5,0S0,12.337,0,27.5c0,8.009,3.444,15.228,8.926,20.258l-0.026,0.023l0.892,0.752
	c0.058,0.049,0.121,0.089,0.179,0.137c0.474,0.393,0.965,0.766,1.465,1.127c0.162,0.117,0.324,0.234,0.489,0.348
	c0.534,0.368,1.082,0.717,1.642,1.048c0.122,0.072,0.245,0.142,0.368,0.212c0.613,0.349,1.239,0.678,1.88,0.98
	c0.047,0.022,0.095,0.042,0.142,0.064c2.089,0.971,4.319,1.684,6.651,2.105c0.061,0.011,0.122,0.022,0.184,0.033
	c0.724,0.125,1.456,0.225,2.197,0.292c0.09,0.008,0.18,0.013,0.271,0.021C25.998,54.961,26.744,55,27.5,55
	c0.749,0,1.488-0.039,2.222-0.098c0.093-0.008,0.186-0.013,0.279-0.021c0.735-0.067,1.461-0.164,2.178-0.287
	c0.062-0.011,0.125-0.022,0.187-0.034c2.297-0.412,4.495-1.109,6.557-2.055c0.076-0.035,0.153-0.068,0.229-0.104
	c0.617-0.29,1.22-0.603,1.811-0.936c0.147-0.083,0.293-0.167,0.439-0.253c0.538-0.317,1.067-0.648,1.581-1
	c0.185-0.126,0.366-0.259,0.549-0.391c0.439-0.316,0.87-0.642,1.289-0.983c0.093-0.075,0.193-0.14,0.284-0.217l0.915-0.764
	l-0.027-0.023C51.523,42.802,55,35.55,55,27.5z M2,27.5C2,13.439,13.439,2,27.5,2S53,13.439,53,27.5
	c0,7.577-3.325,14.389-8.589,19.063c-0.294-0.203-0.59-0.385-0.893-0.537l-8.467-4.233c-0.76-0.38-1.232-1.144-1.232-1.993v-2.957
	c0.196-0.242,0.403-0.516,0.617-0.817c1.096-1.548,1.975-3.27,2.616-5.123c1.267-0.602,2.085-1.864,2.085-3.289v-3.545
	c0-0.867-0.318-1.708-0.887-2.369v-4.667c0.052-0.52,0.236-3.448-1.883-5.864C34.524,9.065,31.541,8,27.5,8
	s-7.024,1.065-8.867,3.168c-2.119,2.416-1.935,5.346-1.883,5.864v4.667c-0.568,0.661-0.887,1.502-0.887,2.369v3.545
	c0,1.101,0.494,2.128,1.34,2.821c0.81,3.173,2.477,5.575,3.093,6.389v2.894c0,0.816-0.445,1.566-1.162,1.958l-7.907,4.313
	c-0.252,0.137-0.502,0.297-0.752,0.476C5.276,41.792,2,35.022,2,27.5z"></path></svg></span>
      <div class="u-border-3 u-border-custom-color-5 u-line u-line-horizontal u-line-1"></div>
      <p class="u-custom-font u-font-arial u-text u-text-custom-color-2 u-text-default u-text-3">Usuario</p>
      <p class="u-custom-font u-font-arial u-text u-text-custom-color-2 u-text-default u-text-4">Puesto</p>
      <p class="u-custom-font u-font-arial u-text u-text-custom-color-2 u-text-default u-text-5">Área</p>
      <p class="u-custom-font u-font-arial u-text u-text-custom-color-2 u-text-default u-text-6">Id</p>

     <h4 class="u-align-center u-text u-text-custom-color-3 u-text-default u-text-7">Información de programación de cirugía</h4>
    
     
      <div class="data-layout-selected u-clearfix u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-row">
          <div class="u-container-style u-layout-cell u-size-31 u-layout-cell-1">
              <div class="u-container-layout u-container-layout-2">
                <div class="u-form u-form-1">
                  <form  class="u-clearfix u-form-spacing-2 u-form-vertical u-inner-form" style="padding: 0px;" >
                    <div class="u-form-group u-label-left u-form-group-1">
                      <label for="text-946a" class="u-custom-font u-heading-font u-label u-spacing-0 u-text-custom-color-8 u-label-1">Fecha de Cirugía:</label>
                      <input type="text" placeholder="22 de septiembre 2023" id="text-946a" name="text-1" class="u-input u-input-rectangle u-text-body-color">
                    </div>
                    <div class="u-form-group u-label-left u-form-group-2">
                      <label for="text-89dd" class="u-custom-font u-heading-font u-label u-spacing-0 u-text-custom-color-8 u-label-2">Paciente: </label>
                      <input type="text" id="text-89dd" name="text" class="u-input u-input-rectangle u-text-body-color" placeholder="Hugo Rodríguez">
                    </div>
                    <div class="u-form-group u-label-left u-form-group-3">
                      <label for="text-00d1" class="u-custom-font u-heading-font u-label u-spacing-0 u-text-custom-color-8 u-label-3">Edad</label>
                      <input type="text" placeholder="35 años" id="text-00d1" name="text-4" class="u-input u-input-rectangle u-text-body-color">
                    </div>
                    <div class="u-form-group u-label-left u-form-group-4">
                      <label for="text-b7b8" class="u-custom-font u-heading-font u-label u-spacing-0 u-text-custom-color-8 u-label-4">Entrada</label>
                      <input type="text" placeholder="7/01/1981" id="text-b7b8" name="text-5" class="u-input u-input-rectangle u-text-body-color">
                    </div>
                    <div class="u-form-group u-label-left u-form-group-5">
                      <label for="text-f4e4" class="u-custom-font u-heading-font u-label u-spacing-0 u-text-custom-color-8 u-label-5">Número de habitación</label>
                      <input type="text" placeholder="204" id="text-f4e4" name="text-3" class="u-input u-input-rectangle u-text-body-color">
                    </div>
                    <div class="u-form-group u-form-name u-label-left">
                      <label for="name-6797" class="u-custom-font u-heading-font u-label u-spacing-0 u-text-custom-color-8 u-label-6">Sala:</label>
                      <input type="text" placeholder="QUIRÓFANO 2" id="name-6797" name="name" class="u-input u-input-rectangle u-text-body-color" required="">
                    </div>
                    <div class="u-form-group u-label-left u-form-group-7">
                      <label for="text-b4b7" class="u-custom-font u-heading-font u-label u-spacing-0 u-text-custom-color-8 u-label-7">Turno:</label>
                      <input type="text" placeholder="1" id="text-b4b7" name="text-6" class="u-input u-input-rectangle u-text-body-color">
                    </div>
                    <div class="u-form-group u-label-left u-form-group-8">
                      <label for="text-f6ea" class="u-custom-font u-heading-font u-label u-spacing-0 u-text-custom-color-8 u-label-8">Diagnóstico:</label>
                      <input type="text" placeholder="Hernia Inguinal Bilateral" id="text-f6ea" name="text-2" class="u-input u-input-rectangle u-text-body-color">
                    </div>
                    <div class="u-form-group u-form-submit u-label-left">
                      <label class="u-custom-font u-heading-font u-label u-spacing-0 u-text-custom-color-8 u-label-9"></label>
                      <div class="u-align-left u-btn-submit-container">
                        <a href="#" class="u-border-1 u-border-active-palette-2-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-btn u-btn-submit u-button-style u-none u-text-palette-1-base u-btn-14"></a>
                      </div>
                      <input type="submit" value="submit" class="u-form-control-hidden">
                    </div>
                    <div class="u-form-send-message u-form-send-success"></div>
                    <div class="u-form-send-error u-form-send-message"></div>
                    <input type="hidden" value="" name="recaptchaResponse">
                    <input type="hidden" name="formServices" value="64f6d1fc-9b03-2bb0-a357-4638e4250b99">
                  </form>
                </div>
              </div>
            </div>
            <div class="u-container-style u-layout-cell u-size-29 u-layout-cell-2">
              <div class="u-container-layout u-container-layout-3">
                <div class="u-form u-form-2">
                  <form  class="u-clearfix u-form-spacing-2 u-form-vertical u-inner-form" style="padding: 0px;" >
                    <div class="u-form-group u-label-left u-form-group-10">
                      <label for="text-1e81" class="u-custom-font u-heading-font u-label u-spacing-0 u-text-custom-color-8 u-label-10">Cirugía Programada:</label>
                      <input type="text" id="text-1e81" name="text-4" class="u-input u-input-rectangle" placeholder="Hernioplastía Inguinal Laparoscópica">
                    </div>
                    <div class="u-form-group u-form-name u-label-left">
                      <label for="name-6797" class="u-custom-font u-heading-font u-label u-spacing-0 u-text-custom-color-8 u-label-11">Solicita:</label>
                      <input type="text" placeholder="Dr. Pablo" id="name-6797" name="name" class="u-input u-input-rectangle" required="">
                    </div>
                    <div class="u-form-group u-label-left u-form-group-12">
                      <label for="text-89dd" class="u-custom-font u-heading-font u-label u-spacing-0 u-text-custom-color-8 u-label-12">Médico cirujano:</label>
                      <input type="text" id="text-89dd" name="text" class="u-input u-input-rectangle" placeholder="Dra.Yazmin">
                    </div>
                    <div class="u-form-group u-label-left u-form-group-13">
                      <label for="text-946a" class="u-custom-font u-heading-font u-label u-spacing-0 u-text-custom-color-8 u-label-13">Med. Anestesiólogo:</label>
                      <input type="text" placeholder="Dr. Casimiro" id="text-946a" name="text-1" class="u-input u-input-rectangle">
                    </div>
                    <div class="u-form-group u-label-left u-form-group-14">
                      <label for="text-af3c" class="u-custom-font u-heading-font u-label u-spacing-0 u-text-custom-color-8 u-label-14">Tipo de Anestesia:</label>
                      <input type="text" id="text-af3c" name="text-6" class="u-input u-input-rectangle" placeholder="Epidural">
                    </div>
                    <div class="u-form-group u-label-left u-form-group-15">
                      <label for="text-f6ea" class="u-custom-font u-heading-font u-label u-spacing-0 u-text-custom-color-8 u-label-15">Ayudante / Residente:</label>
                      <input type="text" placeholder="Enf.Juana" id="text-f6ea" name="text-2" class="u-input u-input-rectangle">
                    </div>
                    <div class="u-form-group u-label-left u-form-group-16">
                      <label for="text-bb11" class="u-custom-font u-heading-font u-label u-spacing-0 u-text-custom-color-8 u-label-16">Área de registro</label>
                      <input type="text" placeholder="Jefatura de Quirófano" id="text-bb11" name="text-3" class="u-input u-input-rectangle">
                    </div>
                    <div class="u-form-group u-label-left u-form-group-17">
                      <label for="text-57d2" class="u-custom-font u-heading-font u-label u-spacing-0 u-text-custom-color-8 u-label-17">Enfermera (o) :</label>
                      <input type="text" placeholder="Susana García" id="text-57d2" name="text-5" class="u-input u-input-rectangle">
                    </div>
                    <div class="u-form-group u-form-submit u-label-left">
                      <label class="u-custom-font u-heading-font u-label u-spacing-0 u-text-custom-color-8 u-label-18"></label>
                      <div class="u-align-left u-btn-submit-container">
                        <a href="#" class="u-border-1 u-border-active-palette-2-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-btn u-btn-submit u-button-style u-none u-text-palette-1-base u-btn-15"></a>
                      </div>
                      <input type="submit" value="submit" class="u-form-control-hidden">
                    </div>
                    <div class="u-form-send-message u-form-send-success"></div>
                    <div class="u-form-send-error u-form-send-message"></div>
                    <input type="hidden" value="" name="recaptchaResponse">
                    <input type="hidden" name="formServices" value="64f6d1fc-9b03-2bb0-a357-4638e4250b99">
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="u-align-center u-form u-form-3">
        <form class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="email" name="form-1" style="padding: 10px;">
          <div class="u-form-group u-form-message u-label-left">
            <label for="message-76db" class="u-label">Notas Adicionales:</label>
            <textarea placeholder="3 Pinzas H. extras para la cirugía " rows="4" cols="50" id="message-76db" name="message" class="u-input u-input-rectangle" required=""></textarea>
          </div>
          <div class="u-form-group u-form-submit u-label-left">
            <label class="u-label u-label-20"></label>
            <div class="u-align-left u-btn-submit-container">
              <a href="#" class="u-border-1 u-border-active-palette-2-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-btn u-btn-submit u-button-style u-none u-text-palette-1-base u-btn-16"></a>
            </div>
            <input type="submit" value="submit" class="u-form-control-hidden">
          </div>
          <input type="hidden" value="" name="recaptchaResponse">
          <input type="hidden" name="formServices" value="64f6d1fc-9b03-2bb0-a357-4638e4250b99">
        </form>
      </div>
      <h4 class="u-align-left u-text u-text-custom-color-3 u-text-8">Ingresa la información del equipamiento para la cirugía</h4>
      <div class="u-tab-links-align-justify u-tabs u-tabs-1">
        <ul class="u-border-2 u-border-grey-75 u-spacing-15 u-tab-list u-unstyled" role="tablist">
          <li class="u-tab-item" role="presentation">
            <a class="active u-active-custom-color-1 u-button-style u-custom-color-3 u-tab-link u-tab-link-1" id="link-tab-c525" href="#tab-c525" role="tab" aria-controls="tab-c525" aria-selected="true"> Requisición de Instrumental e Insumos</a>
          </li>
        </ul>
        <div class="u-tab-content">
          <div class="u-align-left u-container-style u-tab-active u-tab-pane u-white u-tab-pane-1" id="tab-c525" role="tabpanel" aria-labelledby="link-tab-c525">
            <div class="u-container-layout u-container-layout-4">
              <div class="u-form u-form-4">
                <form class="u-clearfix u-form-horizontal u-form-spacing-15 u-inner-form" style="padding: 15px" >
                  <div class="u-form-group u-form-select u-label-top u-form-group-21">
                    <label for="select-675b" class="u-label">Elemento</label>
                    <div class="u-form-select-wrapper">
                      <select id="select-675b" name="select" class="u-input u-input-rectangle">
                        <option value="3 Pinzas Halsted" data-calc="3 Pinzas Halsted">KIT 1</option>
                        <option value="Pinza Foerster" data-calc="">Pinza Foerster</option>
                        <option value="Bisturí Quirúrgico" data-calc="">Bisturí Quirúrgico</option>
                        <option value="Pinza Estándar" data-calc="">Pinza Estándar</option>
                        <option data-calc="1 Separador Senn y 3 Pinzas Backhaus" value="1 Separador Senn y 3 Pinzas Backhaus">KIT 2</option>
                      </select>
                      <svg class="u-caret u-caret-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16" style="fill:currentColor;" xml:space="preserve"><polygon class="st0" points="8,12 2,4 14,4 "></polygon></svg>
                    </div>
                  </div>
                  <div class="u-form-group u-form-number u-form-number-layout-number u-label-top u-form-group-22">
                    <label for="number-ddfe" class="u-label">Cantidad</label>
                    <div class="u-input-row" data-value="0">
                      <input value="0" min="0" max="100" step="1" type="number" placeholder="" id="number-ddfe" name="number" class="u-input u-input-rectangle u-text-black">
                    </div>
                  </div>
                  <div class="u-form-group u-form-submit u-label-top">
                    <a href="#" class="u-active-custom-color-3 u-border-none u-btn u-btn-submit u-button-style u-custom-color-1 u-text-grey-90 u-btn-17">AGREGAR</a>
                    <input type="submit" value="submit" class="u-form-control-hidden">
                  </div>
                  
                  <input type="hidden" value="" name="recaptchaResponse">
                  <input type="hidden" name="formServices" value="64f6d1fc-9b03-2bb0-a357-4638e4250b99">
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <h5 class="u-align-left u-text u-text-custom-color-3 u-text-default u-text-9">Equipamiento Cirugía&nbsp;</h5>
      <div class="u-table u-table-responsive u-table-1">
        <table class="u-table-entity">
          <colgroup>
            <col width="25%">
            <col width="35%">
            <col width="35%">
            <col width="5%">
          </colgroup>
          <tbody class="u-table-alt-palette-1-light-3 u-table-body">
            <tr style="height: 59px;">
              <td class="u-table-cell u-table-cell-1">ELEMENTO</td>
              <td class="u-table-cell u-table-cell-2">CANTIDAD</td>
              <td class="u-table-cell u-table-cell-3">DESCRIPCIÓN</td>
              <td class="u-table-cell u-table-cell-4"></td>
            </tr>
            <tr style="height: 69px;">
              <td class="u-table-cell">KIT 1</td>
              <td class="u-table-cell">2</td>
              <td class="u-table-cell">gwergwr wwtrgwert wvwrtv </td>
              <td class="u-table-cell"></td>
            </tr>
            <tr style="height: 69px;">
              <td class="u-table-cell">KIT 2</td>
              <td class="u-table-cell">1</td>
              <td class="u-table-cell">fwwerfwer werfwerw rthrtu</td>
              <td class="u-table-cell"></td>
            </tr>
            <tr style="height: 100px;">
              <td class="u-table-cell">Pinzas Backhaus</td>
              <td class="u-table-cell">3</td>
              <td class="u-table-cell"></td>
              <td class="u-table-cell"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <a href="#sec-d4ae" class="u-active-custom-color-3 u-border-none u-btn u-btn-round u-button-style u-custom-color-11 u-dialog-link u-hover-custom-color-6 u-radius-6 u-btn-18">GUARDAR</a><span class="u-dialog-link u-icon u-icon-rectangle u-text-palette-2-base u-icon-3" data-href="#sec-ca06"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 52 52" style=""><use xlink:href="#svg-f745"></use></svg><svg class="u-svg-content" viewBox="0 0 52 52" x="0px" y="0px" id="svg-f745" style="enable-background:new 0 0 52 52;"><g><path d="M26,0C11.664,0,0,11.663,0,26s11.664,26,26,26s26-11.663,26-26S40.336,0,26,0z M26,50C12.767,50,2,39.233,2,26
		S12.767,2,26,2s24,10.767,24,24S39.233,50,26,50z"></path><path d="M35.707,16.293c-0.391-0.391-1.023-0.391-1.414,0L26,24.586l-8.293-8.293c-0.391-0.391-1.023-0.391-1.414,0
		s-0.391,1.023,0,1.414L24.586,26l-8.293,8.293c-0.391,0.391-0.391,1.023,0,1.414C16.488,35.902,16.744,36,17,36
		s0.512-0.098,0.707-0.293L26,27.414l8.293,8.293C34.488,35.902,34.744,36,35,36s0.512-0.098,0.707-0.293
		c0.391-0.391,0.391-1.023,0-1.414L27.414,26l8.293-8.293C36.098,17.316,36.098,16.684,35.707,16.293z"></path>
</g></svg></span><span class="u-dialog-link u-icon u-icon-rectangle u-text-palette-2-base u-icon-4" data-href="#sec-ca06"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 52 52" style=""><use xlink:href="#svg-d6e6"></use></svg><svg class="u-svg-content" viewBox="0 0 52 52" x="0px" y="0px" id="svg-d6e6" style="enable-background:new 0 0 52 52;"><g><path d="M26,0C11.664,0,0,11.663,0,26s11.664,26,26,26s26-11.663,26-26S40.336,0,26,0z M26,50C12.767,50,2,39.233,2,26
		S12.767,2,26,2s24,10.767,24,24S39.233,50,26,50z"></path><path d="M35.707,16.293c-0.391-0.391-1.023-0.391-1.414,0L26,24.586l-8.293-8.293c-0.391-0.391-1.023-0.391-1.414,0
		s-0.391,1.023,0,1.414L24.586,26l-8.293,8.293c-0.391,0.391-0.391,1.023,0,1.414C16.488,35.902,16.744,36,17,36
		s0.512-0.098,0.707-0.293L26,27.414l8.293,8.293C34.488,35.902,34.744,36,35,36s0.512-0.098,0.707-0.293
		c0.391-0.391,0.391-1.023,0-1.414L27.414,26l8.293-8.293C36.098,17.316,36.098,16.684,35.707,16.293z"></path>
</g></svg></span><span class="u-dialog-link u-icon u-icon-rectangle u-text-palette-2-base u-icon-5" data-href="#sec-ca06"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 52 52" style=""><use xlink:href="#svg-17ef"></use></svg><svg class="u-svg-content" viewBox="0 0 52 52" x="0px" y="0px" id="svg-17ef" style="enable-background:new 0 0 52 52;"><g><path d="M26,0C11.664,0,0,11.663,0,26s11.664,26,26,26s26-11.663,26-26S40.336,0,26,0z M26,50C12.767,50,2,39.233,2,26
		S12.767,2,26,2s24,10.767,24,24S39.233,50,26,50z"></path><path d="M35.707,16.293c-0.391-0.391-1.023-0.391-1.414,0L26,24.586l-8.293-8.293c-0.391-0.391-1.023-0.391-1.414,0
		s-0.391,1.023,0,1.414L24.586,26l-8.293,8.293c-0.391,0.391-0.391,1.023,0,1.414C16.488,35.902,16.744,36,17,36
		s0.512-0.098,0.707-0.293L26,27.414l8.293,8.293C34.488,35.902,34.744,36,35,36s0.512-0.098,0.707-0.293
		c0.391-0.391,0.391-1.023,0-1.414L27.414,26l8.293-8.293C36.098,17.316,36.098,16.684,35.707,16.293z"></path>
</g></svg></span>
      <a href="#sec-d4ae" class="u-active-custom-color-3 u-border-none u-btn u-btn-round u-button-style u-custom-color-11 u-dialog-link u-hover-custom-color-6 u-radius-6 u-btn-19">CANCELAR</a>
    </section>
    
    
    
    
    
    
<!-- VENTANA DE CONFIRMACION ************************************************-->    
    
    
  <section class="u-black u-clearfix u-container-style u-dialog-block u-opacity u-opacity-70 u-valign-middle u-dialog-section-5" id="sec-ca06">
      <div class="u-align-center u-container-style u-dialog u-shape-rectangle u-white u-dialog-1">
        <div class="u-container-layout u-container-layout-1">
          <img class="u-image u-image-contain u-image-default u-preserve-proportions u-image-1" src="https://cdn-0.emojis.wiki/emoji-pics/docomo/warning-docomo.png" alt="" data-image-width="160" data-image-height="160">
          <h4 class="u-align-center u-text u-text-custom-color-13 u-text-1">¿Estás seguro que deseas eliminar el equipo de cirugía?</h4>
          <a href="#" class="u-align-center u-border-1 u-border-grey-75 u-btn u-button-style u-custom-color-3 u-hover-custom-color-1 u-btn-1">cONFIRMAR</a>
          <a href="#" class="u-align-center u-border-none u-btn u-button-style u-hover-palette-1-dark-1 u-palette-5-base u-text-body-alt-color u-btn-2">CaNCELAR</a>
        </div><button class="u-dialog-close-button u-icon u-text-grey-40 u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 16 16" style=""><use xlink:href="#svg-efe9"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 16 16" x="0px" y="0px" id="svg-efe9"><rect x="7" y="0" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -3.3138 8.0002)" width="2" height="16"></rect><rect x="0" y="7" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -3.3138 8.0002)" width="16" height="2"></rect></svg></button>
      </div>
    </section><style>.u-dialog-section-5 .u-dialog-1 {
  width: 500px;
  min-height: 300px;
  height: auto;
  margin: 60px auto;
}

.u-dialog-section-5 .u-container-layout-1 {
  padding: 7px 30px;
}

.u-dialog-section-5 .u-image-1 {
  width: 75px;
  height: 75px;
  margin: 15px auto 0;
}

.u-dialog-section-5 .u-text-1 {
  font-size: 1.125rem;
  margin: 43px 15px 0;
}

.u-dialog-section-5 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  margin: 25px 29px 0 auto;
}

.u-dialog-section-5 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: -42px auto 0 29px;
  padding: 9px 37px 11px 36px;
}

.u-dialog-section-5 .u-icon-1 {
  width: 20px;
  height: 20px;
}

@media (max-width: 1199px) {
  .u-dialog-section-5 .u-text-1 {
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-dialog-section-5 .u-btn-2 {
    margin-top: -42px;
  }
}

@media (max-width: 767px) {
  .u-dialog-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-dialog-section-5 .u-btn-1 {
    margin-left: 263px;
  }

  .u-dialog-section-5 .u-btn-2 {
    margin-left: 49px;
  }
}

@media (max-width: 575px) {
  .u-dialog-section-5 .u-dialog-1 {
    width: 340px;
  }

  .u-dialog-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-dialog-section-5 .u-btn-1 {
    margin-right: 0;
    margin-left: 131px;
  }

  .u-dialog-section-5 .u-btn-2 {
    margin-left: 34px;
  }
}</style><section class="u-black u-clearfix u-container-style u-dialog-block u-opacity u-opacity-70 u-valign-middle u-dialog-section-9" id="sec-d4ae">
      <div class="u-align-center u-container-style u-dialog u-white u-dialog-1">
        <div class="u-container-layout u-container-layout-1">
          <img class="u-image u-image-default u-preserve-proportions u-image-1" src="https://img.freepik.com/iconos-gratis/signo-interrogacion_318-72860.jpg?size=626&amp;ext=jpg" alt="" data-image-width="128" data-image-height="128">
          <h4 class="u-align-center u-text u-text-custom-color-13 u-text-default u-text-1">Está asignando instrumental e insumos a una solicitud de quirófano &nbsp;<br>¿Estás seguro?
          </h4>
          <a href="/Programacion-De-Cirugia" class="u-border-none u-btn u-button-style u-custom-color-11 u-hover-palette-1-dark-1 u-btn-1">CONFIRMAR</a>
          <a href="/Programacion-De-Cirugia" class="u-border-none u-btn u-button-style u-hidden-md u-hidden-sm u-hidden-xs u-hover-palette-1-dark-1 u-palette-5-base u-text-body-alt-color u-btn-2">CANCELAR</a>
        </div><button class="u-dialog-close-button u-icon u-text-grey-40 u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 16 16" style=""><use xlink:href="#svg-efe9"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 16 16" x="0px" y="0px" id="svg-efe9"><rect x="7" y="0" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -3.3138 8.0002)" width="2" height="16"></rect><rect x="0" y="7" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -3.3138 8.0002)" width="16" height="2"></rect></svg></button>
      </div>
    </section><style>.u-dialog-section-9 .u-dialog-1 {
  width: 500px;
  height: auto;
  min-height: 300px;
  margin: 60px auto;
}

.u-dialog-section-9 .u-container-layout-1 {
  padding: 7px 30px;
}

.u-dialog-section-9 .u-image-1 {
  width: 79px;
  height: 79px;
  margin: 12px auto 0;
}

.u-dialog-section-9 .u-text-1 {
  margin: 12px 0 0;
}

.u-dialog-section-9 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 39px auto 0 261px;
}

.u-dialog-section-9 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -45px auto 0 12px;
  padding: 9px 38px 11px 37px;
}

.u-dialog-section-9 .u-icon-1 {
  width: 20px;
  height: 20px;
}

@media (max-width: 1199px) {
  .u-dialog-section-9 .u-image-1 {
    margin-top: 0;
  }

  .u-dialog-section-9 .u-text-1 {
    margin-top: 52px;
  }

  .u-dialog-section-9 .u-btn-1 {
    margin-top: 11px;
    margin-left: 261px;
  }

  .u-dialog-section-9 .u-btn-2 {
    margin-top: -45px;
    margin-left: 12px;
  }
}

@media (max-width: 991px) {
  .u-dialog-section-9 .u-btn-1 {
    margin-top: -184px;
    margin-left: 1104px;
  }

  .u-dialog-section-9 .u-btn-2 {
    margin-top: -1020px;
    margin-right: 1270px;
    margin-left: -830px;
  }
}

@media (max-width: 767px) {
  .u-dialog-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-dialog-section-9 .u-btn-1 {
    margin-left: 1114px;
  }

  .u-dialog-section-9 .u-btn-2 {
    margin-right: 1280px;
    margin-left: -800px;
  }
}

@media (max-width: 575px) {
  .u-dialog-section-9 .u-dialog-1 {
    width: 340px;
  }

  .u-dialog-section-9 .u-image-1 {
    margin-top: 29px;
  }

  .u-dialog-section-9 .u-text-1 {
    margin-top: 23px;
  }

  .u-dialog-section-9 .u-btn-1 {
    margin-left: 994px;
  }

  .u-dialog-section-9 .u-btn-2 {
    margin-top: -1049px;
    margin-right: 1160px;
    margin-left: -840px;
  }
}</style>
</body>