<!DOCTYPE html>
<html style="font-size: 16px;" lang="es"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="HOLA">
    <meta name="description" content="">
    <title>1a Login</title>
        
    <script type="application/ld+json">{
    
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "Quirofano",
		"url": "/"
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="1a Login">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
    <link rel="canonical" href="/">
  <meta data-intl-tel-input-cdn-path="intlTelInput/"></head>
  <body data-path-to-root="./" data-include-products="false" class="u-body u-white u-xl-mode" data-lang="es">
    <section class="skrollable u-clearfix u-hidden-md u-hidden-sm u-hidden-xs u-section-1" id="sec-1600" rel="nofollow">
      <img class="u-absolute-hcenter u-expanded-height u-hidden-md u-hidden-sm u-hidden-xs u-image u-image-1" src="../../assets/images/PortadaappTrazabilidad.png" data-image-width="823" data-image-height="594">
      <div class="u-container-style u-group u-radius-50 u-shape-round u-white u-group-1">
        <div class="u-container-layout u-container-layout-1">
          <div class="u-shape u-shape-svg u-text-custom-color-11 u-shape-1">
            <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 148 160" style=""><use xlink:href="#svg-92ab"></use></svg>
            <svg class="u-svg-content" viewBox="0 0 148 160" x="0px" y="0px" id="svg-92ab"><path d="M104,12.1c16.5,16.2,16.5,42.4,0,58.6s-43.3,16.2-59.8,0s-16.5-42.4,0-58.6S87.5-4,104,12.1 M138.9,106.9
	c-38.6-25.5-91.2-25.5-129.7,0C3.5,110.7,0,117.1,0,124.1V160h148v-35.9C148.1,117.1,144.6,110.7,138.9,106.9L138.9,106.9z"></path></svg>
          </div>
          <div class="u-form u-form-1">
            <form class="u-clearfix u-form-spacing-15 u-form-vertical u-inner-form" style="padding: 15px;" source="email" name="form">
              <div class="u-form-group u-form-name u-label-none">
                <label for="name-6797" class="u-label">Name</label>
                <input type="text" placeholder="Nombre" id="name-6797" name="Nombre" class="u-input u-input-rectangle" required="">
              </div>
              
              <div class="u-form-group u-label-none u-form-group-2">
                <label for="text-2083" class="u-label">Entrada</label>
                <input type="text" placeholder="Clave" id="text-2083" name="Clave" class="u-input u-input-rectangle">
                
              </div>

              <div class="u-form-group u-label-none u-form-group-2">
                <label for="text-2083" class="u-label">Entrada</label>
                <input type="text" placeholder="Clave" id="text-2083" name="Repita La Clave" class="u-input u-input-rectangle">
                
              </div>
              
              <input type="hidden" value="" name="recaptchaResponse">
              <input type="hidden" name="formServices" value="64f6d1fc-9b03-2bb0-a357-4638e4250b99">
            </form>
         <br><br> </div>
          <a href="/login" class="u-border-none u-btn u-button-style u-custom-color-11 u-btn-2">Registrarse</a>
        </div>
      </div>
    </section>
    
    
    
    
    
    
    
    
    
  
</body></html>
